/* analyse */


.analyse table{
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
}
.analyse table tr th{
	text-align: center;
	background-color:#707ea1;
	font-size: 16px;
	color:#fff;
	font-weight:bold;
}
.analyse table tfoot{
	color: #484848;
	font-size: 18px;
	border:1px solid transparent;
}
.analyse{
	position: relative;
	margin-top: 70px;
	width: 100%;
}
.analyse .analyse-title-head .col-md-3 img{
   margin:2% 18%;
	/*transform: rotate(-3deg);*/
}

.analyse .analyse-title-head .timu{
	-webkit-box-shadow:10px 3px 8px #aaa;
	-moz-box-shadow: 10px 3px 8px #aaa;
	box-shadow: 10px 3px 8px #aaa;
}
@media screen and (min-width: 1200px) and (max-width: 1470px){
	.analyse{
		margin-top: 90px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px){
	.analyse{
		margin-top: 120px;
	}
}
@media (max-width: 767px){
	.analyse{
		margin-top: 50px;
	}
}
.analyse .analyse-top-title{
	margin: 0;
	padding: 10px 0;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
}

.analyse .remind>div{
display: inline-block;
	line-height: 50px;
	margin-left: 10px;
	font-size: 16px;
}
.analyse .remind span{
	display: none;
	width: 60px;
	background-color: #eee;
	font-size: 14px;
	/*display: block;*/
	padding: 5px;
	-webkit-box-shadow: inset 0 0 3px #545556;
	-moz-box-shadow: inset 0 0 3px #545556;
	box-shadow: inset 0 0 3px #545556;
}
.analyse .container-fluid .row .jiaoyi{
	-webkit-box-shadow:10px 3px 8px #aaa;
	-moz-box-shadow: 10px 3px 8px #aaa;
	box-shadow: 10px 3px 8px #aaa;

}

.analyse .tab-content{
	background:#fff;

}
.analyse .analyse-title-head{

	/*margin-bottom: 20px;*/
	background: #f2f2f2;
	/*background-color: red;*/
    border-bottom: 1px solid #ccc;
	/*background: url("../images/真实交易.png") no-repeat;*/
}

.analyse .analyse-left{
	position: relative;
	/*height: 650px;*/
	padding: 20px 5px;
	-webkit-box-shadow: 5px 0 10px #aaa;
	-moz-box-shadow: 5px 0 10px #aaa;
	box-shadow: 5px 0 10px #aaa;
	background-color:#f2f2f2;
	background: -webkit-linear-gradient(left top, #a9c0a9 , #bbc0bb);
	background: -o-linear-gradient(bottom right,#a9c0a9,  #bbc0bb);
	background: -moz-linear-gradient(bottom right, #a9c0a9, #bbc0bb);
	background: linear-gradient(to bottom right, #a9c0a9 , #bbc0bb);
}
.analyse .analyse-left .mobile-action{
	position: absolute;
	top: 20px;
	right: 0;
	color: #fff;
	cursor: pointer;
}
@media screen and (max-width: 767px){
	.analyse .analyse-left{
		width: 60%;
		position: absolute;
		top: 50px;
		left: -55%;
		border:none;
		padding-top: 20px;
		-webkit-transition: all ease 1.5s;
		-moz-transition: all ease 1.5s;
		-o-transition: all ease 1.5s;
		transition: all ease 1.5s;
		z-index: 10;
	}
}
.l0{
	left: 0!important;
}
.analyse .analyse-left .analyse-menu-head{
	margin-bottom: 20px;
	padding-left: 40px;
}
.analyse .analyse-left .analyse-menu-head button{
	font-size: 14px;
	padding: 6px 12px;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.analyse .analyse-left .analyse-menu-head .btn1{
	border:1px solid #54be54;
	background-color: #5cb85c;
	color: #457445;
	background-image: linear-gradient(bottom, #579e57 0%, rgb(92,184,92) 100%);
	background-image: -o-linear-gradient(bottom, #579e57 0%, rgb(92,184,92) 100%);
	background-image: -moz-linear-gradient(bottom, #579e57 0%, rgb(92,184,92) 100%);
	background-image: -webkit-linear-gradient(bottom, #579e57 0%, rgb(92,184,92) 100%);
	background-image: -ms-linear-gradient(bottom, #579e57 0%, rgb(92,184,92) 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #579e57), color-stop(1, rgb(92,184,92)) );

	-webkit-box-shadow: inset 0 1px 0 #56B85C, 0 3px 0 0 #4b704b, 0 8px 4px #999;
	-moz-box-shadow: inset 0 1px 0 #56B85C, 0 3px 0 0 #4b704b, 0 8px 4px #999;
	-o-box-shadow: inset 0 1px 0 #56B85C, 0 3px  0 #4b704b, 0 8px 4px #999;
	box-shadow: inset 0 1px 0 #56B85C, 0 3px 0 0 #4b704b, 0 8px 4px #999;
}
.analyse .analyse-left .analyse-menu-head .btn1:active{
	top:3px;
	background-image: linear-gradient(bottom, rgb(92,184,92) 0%, #579e57 100%);
	background-image: -o-linear-gradient(bottom, rgb(92,184,92) 0%, #579e57 100%);
	background-image: -moz-linear-gradient(bottom, rgb(92,184,92) 0%, #579e57 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(92,184,92) 0%, #579e57 100%);
	background-image: -ms-linear-gradient(bottom, rgb(92,184,92) 0%, #579e57 100%);
	background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0,rgb(92,184,92)),
			color-stop(1,#579e57)
	);
	-webkit-box-shadow: inset 0 1px 0 #56B85C, 0 2px 0 0 #4b704b, 0 5px 3px #999;
	-moz-box-shadow: inset 0 1px 0 #56B85C, 0 2px 0 0 #4b704b, 0 5px 3px #999;
	-o-box-shadow: inset 0 1px 0 #56B85C, 0 2px 0 0 #4b704b, 0 5px 3px #999;
	box-shadow: inset 0 1px 0 #56B85C, 0 2px 0 0 #4b704b, 0 5px 3px #999;
}

.analyse .analyse-left .analyse-menu-head .btn2{
	border:1px solid #5bc0de;
	background-color: #3bb3e0;
	color: #3b5e6a;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(44,160,202)), color-stop(1, rgb(62,184,229)) );

	-webkit-box-shadow: inset 0 1px 0 #2ab7ec, 0 3px 0 0 #156785, 0 8px 4px #999;
	-moz-box-shadow: inset 0 1px 0 #2ab7ec, 0 3px 0 0 #156785, 0 8px 4px #999;
	-o-box-shadow: inset 0 1px 0 #2ab7ec, 0 3px  0 #156785, 0 8px 4px #999;
	box-shadow: inset 0 1px 0 #2ab7ec, 0 3px 0 0 #156785, 0 8px 4px #999;
}
.analyse .analyse-left .analyse-menu-head .btn2:active{
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(62,184,229)),
			color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 5px 3px #999;
	-moz-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 5px 3px #999;
	-o-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 5px 3px #999;
	box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 5px 3px #999;
}
.analyse .analyse-left .analyse-menu-head .btn3{
	border:1px solid #e46461;
	background-color: #d9534f;
	color: #863d3b;
	background-image: linear-gradient(bottom, #c1504c 0%, #d9534f 100%);
	background-image: -o-linear-gradient(bottom, #c1504c 0%,  #d9534f 100%);
	background-image: -moz-linear-gradient(bottom, #c1504c 0%,  #d9534f 100%);
	background-image: -webkit-linear-gradient(bottom, #c1504c 0%,#d9534f 100%);
	background-image: -ms-linear-gradient(bottom, #c1504c 0%, #d9534f 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #c1504c), color-stop(1, #d9534f) );

	-webkit-box-shadow: inset 0 1px 0 #e14e4a, 0 3px 0 0 #8d4b4a, 0 8px 4px #999;
	-moz-box-shadow: inset 0 1px 0 #e14e4a, 0 3px 0 0 #8d4b4a, 0 8px 4px #999;
	-o-box-shadow: inset 0 1px 0 #e14e4a, 0 3px  0 #8d4b4a, 0 8px 4px #999;
	box-shadow: inset 0 1px 0 #e14e4a, 0 3px 0 0 #8d4b4a, 0 8px 4px #999;
}
.analyse .analyse-left .analyse-menu-head .btn3:active{
	top:3px;
	background-image: linear-gradient(bottom, #d9534f 0%,  #c1504c 100%);
	background-image: -o-linear-gradient(bottom, #d9534f 0%,  #c1504c 100%);
	background-image: -moz-linear-gradient(bottom, #d9534f 0%, #c1504c 100%);
	background-image: -webkit-linear-gradient(bottom, #d9534f 0%, #c1504c 100%);
	background-image: -ms-linear-gradient(bottom, #d9534f 0%, #c1504c 100%);
	background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, #d9534f),
			color-stop(1, #c1504c)
	);
	-webkit-box-shadow: inset 0 1px 0 #e14e4a, 0 2px 0 0 #8d4b4a, 0 5px 3px #999;
	-moz-box-shadow: inset 0 1px 0 #e14e4a, 0 2px 0 0 #8d4b4a, 0 5px 3px #999;
	-o-box-shadow: inset 0 1px 0 #e14e4a, 0 2px 0 0 #8d4b4a, 0 5px 3px #999;
	box-shadow: inset 0 1px 0 #e14e4a, 0 2px 0 0 #8d4b4a, 0 5px 3px #999;
}

/*.analyse .analyse-left .analyse-menu-head .btn1{
	color: #41788c;
	border: 1px solid #6fb1c7;
	background-image: -moz-linear-gradient(#aae5f7, #73d0f1);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#73d0f1), to(#aae5f7));
	background-image: -webkit-linear-gradient(#aae5f7, #73d0f1);
	background-image: -o-linear-gradient(#aae5f7, #73d0f1);
	text-shadow: 1px 1px 1px #bfeafb;
	background-color: #73d0f1;
}
.analyse .analyse-left .analyse-menu-head .btn2{
	color: #5a742d;
	border: 1px solid #95b959;
	background-image: -moz-linear-gradient(#cae387, #a5cb5e);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5cb5e), to(#cae387));
	background-image: -webkit-linear-gradient(#cae387, #a5cb5e);
	background-image: -o-linear-gradient(#cae387, #a5cb5e);
	text-shadow: 1px 1px 1px #dff4bc;
	background-color: #a5cb5e;
}
.analyse .analyse-left .analyse-menu-head .btn3{
	color: #57646d;
	border: 1px solid #929ba2;
	background-image: -moz-linear-gradient(#bbcbd8, #8ea5b5);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8ea5b5), to(#bbcbd8));
	background-image: -webkit-linear-gradient(#bbcbd8, #8ea5b5);
	background-image: -o-linear-gradient(#bbcbd8, #8ea5b5);
	text-shadow: 1px 1px 1px #c6d4df;
	background-color: #8ea5b5;
}*/
.analyse .analyse-left .modal .modal-dialog .btn_wrap{
	width: 35%;
	height: 40px;
}
.analyse .analyse-left .btn_wrap input{
width: 43%;
	height: 40px;
	float: left;
	margin-left: 4%;
	outline: none;
}
.analyse .analyse-left .btn_wrap input:nth-child(2){
	background-color: #a0caca;color: #fff
}

.analyse .analyse-left dl{
	/* margin:25px auto;
	width: 120px; */
	/*margin-bottom: 20px;*/
	/*padding-left: 40px;*/
	margin-left: 60px;

}
.analyse .analyse-left dt{
	position: relative;
	color:#fff;
    font-size: 18px;
	letter-spacing: 2px;
	line-height: 30px;
	cursor: pointer;
}
.analyse .analyse-left dd{
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 35px;
}
.analyse .analyse-left dd a{
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
.analyse .analyse-left dt i{
	position: absolute;
	left: -30px;
	top:11px;
}
.analyse .analyse-right{
	position: relative;
	height: 650px;
	margin-top: 40px;
}

.analyse .analyse-right .analyse-charts-title{
	margin: 0 0 15px;
	text-align:center;
	color:#b22;
	letter-spacing: 2px;
	font-weight:bold;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
	0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2);
}
#return_map_big_1,#return_map_big_2,#return_map_big,#return_map_big1{
	height:600px;
	width: 96%;
	margin: 40px auto;
	background:#fff;
}

.analyse .analyse-right .table-responsive{
	height: 750px;
	overflow-y:auto; 
}
/* .analyse .analyse-right .analyse-charts-title:after{
	content: '';
	display: inline-block;
	width: 100px;
	height: 2px;
	background: #b22;
	text-align: center;
	
} */
#total_revenue_rate ul {
	width: 240px;
	margin: 100px auto 30px;
	list-style: none;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 1px;
}
#total_revenue_rate  a{
	width: 240px;
	font-size: 18px;
	letter-spacing: 2px;
}
#info_ratio p,#volatility p,#info_ratio_1 p,#volatility_1 p{
	line-height: 30px;
	color: #333;
	font-size: 18px;
	letter-spacing: 2px;
}
.analyse .white-blue{
	color:rgb(124, 181, 236);
}

.analyse .font-black{
	color:#333;
}
.analyse .red{
	color:#FD2E2E;
}
.analyse .blue{
	color:  rgb(102,153,255);
}
.analyse .green{
	color:#393;
}
 .analyse .orange{
	color:orange;
}
#analyse-modal1 .modal-box, #analyse-modal2 .modal-box, #actualRes-modal1 .modal-box,#actualRes-modal2 .modal-box{
	padding:20px;
}

#analyse-modal1 .modal-box textarea{
	width: 100%;
	height:150px;
	resize: none;
}
#actualRes-modal1 .modal-box textarea{
	width: 100%;
	height:150px;
	resize: none;
}
/* #actualRes-modal2 .modal-box textarea{
	width: 100%;
	height:150px;
	resize: none;
} */
.analyse-modal-big{
	position: fixed;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	background:rgba(0,0,0,.7);
	z-index: 999;
}
.analyse-modal-big .fa-remove{
	float: right;color: #817d7d;cursor: pointer
}
.analyse-modal-big .analyse-select-box{
	margin:150px auto 0;
	padding: 10px 10px 0 0;

	max-width: 500px;
	border-radius:10px;
	background: rgba(245,245,255,.8);
	box-shadow: 5px 5px 4px rgba(0,0,0,.9);
}
.analyse-modal-big .analyse-select-box .select{
	padding: 60px 0;
}

.analyse-modal-big .analyse-select-box p{
	margin-bottom: 0;
}
.analyse-modal-big .analyse-select-box p+p{
	margin-top: 20px;
}
.analyse-modal-big .analyse-select-box p button{
	box-shadow: 2px 2px 1px rgba(0,0,0,.2);
}
.mr30{
	margin-right: 30px;
}
.highstock-item{
	width: 96%;
	margin: 20px auto 0;
}
@media screen and (max-width: 767px){
	.modal-backdrop{
		z-index: 9;
	}
	.modal-dialog{
		margin-top: 60px;
	}
}
.analyse .printform{
	display: none;
	position: absolute;
	top: -70px;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 1000000;
	/*overflow: hidden;*/
}
.printform{
	display: none;
}
.printform .container .analyse-top-title span{
	margin-left: 3%;
}
.printform h2{
	text-align: center;margin-top: 30px
}

@media print {
	.noprint{
		display: none;
	}
}

.sel{
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}