/* analyse */
.analyse{
	position: relative;
	margin-top: 90px;
	padding: 70px 0;
	width: 100%;
}
@media (max-width: 767px){
	.analyse{margin-top: 50px;}
}
.analyse .analyse-left{
	position: relative;
	height: 700px;
	border-right: 2px dashed #5CB7EE;
/* 	padding-top: 50px;
padding-bottom: 50px; */
	/* color:#f5f5f5;
	background: #292421; */
}
.actualRes.analyse .analyse-left{
	height: 800px;
}
.analyse .analyse-left .analyse-menu-head{
	margin-bottom: 50px;
	padding-left: 40px;
}
.actualRes.analyse .analyse-left .analyse-menu-head{
	margin-bottom: 30px;
}
.analyse .analyse-left dl{
	/* margin:25px auto;
	width: 120px; */
	margin-bottom: 20px;
	padding-left: 40px;
}
.analyse .analyse-left dt{
	position: relative;
	color: rgba(92, 161, 228, 1);
    font-size: 18px;
	letter-spacing: 2px;
	line-height: 40px;
	cursor: pointer;
}
.analyse .analyse-left dd{
	color: rgba(124, 181, 236, 1);
    font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
}
.analyse .analyse-left dd a{
	cursor: pointer;
}
.analyse .analyse-left dt i{
	position: absolute;
	left: -30px;
	top:11px;
}
.analyse .analyse-right{
	position: relative;
	height: 700px;
	/* overflow-y:auto;  */
}
.actualRes.analyse .analyse-right{
	height: 800px;
}
.analyse .analyse-right .analyse-charts-title{
	margin: 0 0 50px;
	text-align:center;
	color:#b22;
	letter-spacing: 2px;
}
.analyse .analyse-right .mb0{
	margin-bottom: 0;
}
.analyse .analyse-right .table-responsive{
	height: 600px;
	overflow-y:auto; 
}
/* .analyse .analyse-right .analyse-charts-title:after{
	content: '';
	display: inline-block;
	width: 100px;
	height: 2px;
	background: #b22;
	text-align: center;
	
} */
#total_revenue_rate ul {
	width: 240px;
	margin: 100px auto 30px;
	list-style: none;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 1px;
}
#total_revenue_rate  a{
	width: 240px;
	font-size: 18px;
	letter-spacing: 2px;
}
#info_ratio p,#volatility p{
	line-height: 30px;
	color: #333;
	font-size: 18px;
	letter-spacing: 2px;
}
.analyse .white-blue{
	color:rgb(124, 181, 236);
}

.analyse .font-black{
	color:#333;
}
.analyse .red{
	color:#FD2E2E;
}
.analyse .blue{
	color:  rgb(102,153,255);
}
.analyse .green{
	color:#393;
}
 .analyse .orange{
	color:orange;
}
#analyse-modal .modal-box, #actualRes-modal .modal-box,#actualRes-modal1 .modal-box,#actualRes-modal2 .modal-box{
	padding:20px;
}

#actualRes-modal .modal-box textarea{
	width: 100%;
	height:300px;
	resize: none;
}
#actualRes-modal1 .modal-box textarea{
	width: 100%;
	height:150px;
	resize: none;
}
#actualRes-modal2 .modal-box textarea{
	width: 100%;
	height:150px;
	resize: none;
}
#analyse-modal .modal-box textarea{
	width: 100%;
	height:300px;
	resize: none;
}