/*公共样式*/
body, html {
	font-family: SourceHanSans-Normal, -apple-system, Helvetica Neue,
	PingFang SC, Source Han Sans SC, Noto Sans CJK SC, Source Han Sans CN,
	Source Han Sans TC, "Microsoft Yahei", sans-serif, Verdana, Arial,
	Helvetica;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	color:#555;
	background-color: rgb(233, 237, 239);
}
a:focus,button:focus,input:focus{
	outline: none;
}
/*新加的*/
.main-navbar {
	padding:0 2% 0 2%;
	height: 4.5rem;
	line-height: 4.5rem;
	background-color: #262930;
	border: 1px solid #262930;
	position: fixed;
	z-index: 9999;
	left: 0;
	right: 0;
	top: 0
}
.main-navbar .navbar-brand {
	padding:0;
	color: #fff0f5;
	font-weight: 600;
}

.main-navbar .navbar {
	margin-bottom: 0;
	border: none;
}

.main-navbar  .navbar-brand img{
	width: auto;
	height: 100%;
}
.main-navbar .userLogin{
	width: 180px;;
	float: right;
}
.main-navbar .userLogin li:nth-child(1){
	float: left;

}
.main-navbar .userLogin li:nth-child(2){
	float: left;
}
.main-navbar .userLogin li.name{
	float: right;
}
.main-navbar .userLogin li a{
	text-decoration: none;

}
.zijin-main-wrapper .collapse .nav{
	color: #fff;
	font-size: 14px;
	margin-left: 10px;
}
.main-navbar a.reg-btn:before {
	content: '|';
	font-weight: bold;
	color: #fff;
	left: -15px;
}
.zijin-ngview{
	height: 100%;
	background-color: rgb(233, 237, 239);
}

.main-navbar .list-group{
	display: none;
	position: absolute;
	font-size: 13px;
	letter-spacing: 2px;
	min-width: 160px;
	margin-bottom: 0;
	right: 0;
	top: 70px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,.5);
}
@media (max-width: 767px){
	.main-navbar .list-group{
		width: 30%;
		margin: 0 auto;
		position: absolute;
		top: 4.5rem;

	}
	.main-navbar .list-group span {
		vertical-align: middle;
		position: absolute;
		top: -4px;
		left: 40px;
	}
}

.main-navbar .list-group:after{
	content: '';
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-width: 0 8px 8px;
	border-color: transparent transparent #fff;
	border-style: solid;
	top: -8px;
	right: 30px;
}
.main-navbar .list-group i{
	position: absolute;
	top: 10px;
	left: 10px;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.main-navbar .list-group .logout-icon{
	background: url(../images/iocn_sprite_032.png) -30px -222px no-repeat;
}
.main-navbar .list-group .info-icon{
	background: url(../images/iocn_sprite_032.png) -171px -140px no-repeat;
}
.main-navbar .list-group span{
	/*display: inline-block;*/
	vertical-align: middle;
	position: absolute;
	top:-10px;
	left:40px;
}
.main-navbar .list-group-item{
	display: block;
	position: relative;
	border:none;
	height: 40px;
	/*text-align: center;*/
	/*padding: 5px 0 ;*/
	letter-spacing: 5px;
	color: #555;
}

@media (min-width: 768px){
	.main-navbar .list-group-item{
		padding: 5px 15px;
		text-align: center;
	}
	.main-navbar .list-group i{
		float: left;
		margin-top: 2px;
	}

}

footer {
	clear:both;
	position:relative;
	z-index:50;
text-align: center;
	border-top: 2px solid #dcdcdc;
}

footer .bill-footer {
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #f5f5ff;
	background: #292421;
}
@media (max-width:767px){
	footer .bill-footer >.col-sm-4{margin-bottom:25px;}
}
footer .copyright {
	padding-top: 20px;
	padding-bottom: 10px;
	color: #fffafa;
	background: -webkit-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
	#000A2E 100%);
	background: -moz-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
	#000A2E 100%);
	background: -o-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
	#000A2E 100%);
	background: linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%, #000A2E
	100%);
}
footer .copyright p{
	margin: 0;
}
footer .footer-text-head {
	margin-bottom: 30px;
	color: #fff;
	font-size: 20px;
}
footer .bill-footer p{
	text-align: left;
}
@media (max-width: 767px){
	footer .bill-footer p{text-align: center;}
	footer .bill-footer .col-sm-2{margin-bottom: 30px;}
}
footer .bill-footer p a{
	color: #ccc;
}
footer .bill-footer p a:hover{
	color:#fff;
	text-decoration:none;
}
footer .bill-footer .zijin-footer-itembox{
	display: inline-block;
}
footer .bill-footer .zijin-footer-logo{
	position: absolute;
	top: 20px;
	left: 50px;
	width: 150px;
	height: auto;
}
footer .footer-text-head .glyphicon {
	 font-size: 30px;
	 color: #0b1746;
	 margin-right: 20px;
	 vertical-align: middle;
 }

footer .footer-text-head span {
	vertical-align: middle;
}
@media (max-width: 767px) {
	.main-navbar .navbar-brand img {
		width: auto;
		height: 80%;
	}
}
