
/*
ol{
    margin: 0;
    padding: 0;
}
#pic{
    height: 550px;
    background: url("../images/picl.jpg");
    z-index: 999;
}

#pic .zijin-table-head:hover .zijin-table-bigmask{
    background: rgba(0,0,0,.5);
}
#pic .container{
    text-align: center;
    color: #fff;
    padding-top: 190px;
}
#header{
    margin-top:70px;
    text-align: center;
}
#header .pic{
    margin-top: 10px;
    height:650px;

    background: url("../images/picl.jpg");
}

#introduce .content{
    background-color: #f6f5f5;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in ;
    z-index: 1;
    cursor: pointer;

}
#introduce .content1{
    background-color: #BEE7FD;
    padding: 25px;
}
#introduce .content2{
    background-color: #D2DBFC;
}
#introduce .content:hover{
    border-radius: 50px;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    z-index: 2;
    box-shadow: 10px 10px 10px rgba(50,50,50,0.6);

}
!*#introduce .animation{
  display: block;
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 0;
  width: 0;
  height: 100%;
  border: 8px solid #ff9912;
  background: transparent;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}
#introduce .list:hover .animation{
  display: block;
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 0;
  width: 0;
  height: 100%;
  border: 8px solid #ff9912;
  background: transparent;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}*!
#show{
    margin-top: 20px;
}
*/

ul li{
  list-style: none;
}
.zijin-introduce {
  background: #fafafa;
}

.zijin-introduce-head {
  position: relative;
  padding:150px 0;
  text-align: center;
  color: #f5f5ff;
  background: url(../images/picl.jpg) center 20% no-repeat;
  background-size: 100% auto;
}

@media screen and (max-width: 767px) {
  .zijin-introduce-head {
    background-size: auto 100%;
  }
}


.zijin-introduce .zijin-introduce-head .zijin-introduce-bigmask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, .3);
  -moz-transition: all ease 1.5s;
  -o-transition: all ease 1.5s;
  -webkit-transition: all ease 1.5s;
  transition: all ease 1.5s;
}

.zijin-introduce .zijin-introduce-head:hover .zijin-introduce-bigmask {
  background: rgba(0, 0, 0, .5);
}

.zijin-introduce .zijin-introduce-head h1 {
  position: relative;
  z-index: 10;
  margin-bottom: 50px;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
}

.zijin-introduce .zijin-introduce-head p {
  position: relative;
  z-index: 10;
  font-size: 18px;
}

.zijin-introduce .zijin-introduce-body {
  /*padding:60px 0 0;*/
  /*background: url(../images/about-section-bg.jpg);*/
  background-size: 100% auto;
}

.zijin-introduce .zijin-introduce-body p {
  font-size: 16px;
  color: #666;
}

#introduce, #history, #online {
  background: #e4e4e4;
}

#introduce, #load, #history, #online, #module {
  padding: 50px 0;
}

#introduce h3, #load h3, #history h3, #online h3, #module h3 {
  font-weight: bold;
  line-height: 1.5;
}

#introduce p, #load p, #history p, #online p, #module p {
  padding: 0;
  line-height: 2;
  letter-spacing: 1px;
}

#load, #module {
  background-color: #fff;
}

#introduce .container .img {
  height: 340px;
  background: url("../images/introduce.png") no-repeat;
}

#history .container .img {

  height: 340px;
  background: url("../images/tanhua.png") no-repeat;
}

#module .container .img {

  height: 340px;
  background: url("../images/jinrong.png") no-repeat;
}

#online .container .img {

  height: 340px;
  background: url("../images/zaixianbiancheng.png") center no-repeat;
  background-size: 85%;
}

#load .container .img {

  height: 340px;
  background: url("../images/celv.png") no-repeat;
}

#jietu {
  position: relative;
  height: 250px;
}

#jietu .title {
  margin: 50px auto 0;
  width: 350px;
  text-align: center;
  border: 1px solid #5c5c5c;
  padding: 30px 10px;
  /*box-shadow:2px 2px 5px #5c5c5c;*/
  -webkit-box-shadow: 2px 2px 5px #5c5c5c;
  -moz-box-shadow: 2px 2px 5px #5c5c5c;
  box-shadow: 2px 2px 5px #5c5c5c;
  border-radius: 10px;
}

#jietu .title a {
  display: block;
  cursor: pointer;
  padding: 5px;
}

#jietu .title a:hover {
  text-decoration: none;
}

#jietu .blink_wrap {
  margin: 0 auto;
  cursor: pointer;
  width: 73px;
  height: 75px;
  position: absolute;
  top: 120px;
  left: 48%;
  bottom: 0px;

}

#jietu .blink {
  display: block;
  margin-top: 55px;
  animation: slide 1s infinite linear;
  background: url("../images/jiantou.png") 0 0;
  width: 73px;
  height: 28px;

}

@keyframes slide {
  0% {
    margin-top: 50px
  }
  50% {
    margin-top: 80px;
  }
  100% {
    margin-top: 50px
  }
}

#stock {
  /*background-color: #f7f1f9;*/
  position: relative;
  /*padding: 60px;*/
  /*background-color: red;*/
  background-color: #fff;
}

#stock .container .route{
  height: 100px;
  margin:50px auto 20px;
  background: url("../images/rout.png") no-repeat center;
  cursor: pointer;

}
#stock .tuxing {
  /*padding:70px;*/
  padding: 10px 0 70px 0;
  text-align: center;
}

#stock .tuxing img {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  width: 75%;
  height: 75%;
}

#stock .col-xs-12 img:hover {
  -webkit-transform: rotate(0deg) scale(1.1, 1.1);
  -moz-transform: rotate(0deg) scale(1.1, 1.1);
  -ms-transform: rotate(0deg) scale(1.1, 1.1);
  -o-transform: rotate(0deg) scale(1.1, 1.1);
  transform: rotate(0deg) scale(1.1, 1.1);
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.6);
  box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.6);
  padding: 20px;
  border: 10px solid #f1f1f1;
}

#stock .blink_wrap {
  margin: 0 auto;
  cursor: pointer;
  width: 73px;
  height: 75px;
  position: absolute;
  top: 500px;
  left: 48%;
  bottom: 0px;
}

#stock .blink {
  display: block;
  margin-top: 55px;
  /*animation: slide 1s infinite linear;*/
  background: url("../images/jiantou.png") 0 0;
  width: 73px;
  height: 28px;
}

#grouth .container .grouth{
  height: 100px;
  margin:50px auto 20px;
  background: url("../images/grout.png") no-repeat center;
  cursor: pointer;
}


#time {

  width: 80%;
  /*text-align: center;*/
  /*height: 450px;*/
  font-family: "宋体";

  position: relative;
  margin: 30px auto 0 auto;

}

#time .title {

  height: 93px;
  line-height: 95px;
  margin-bottom: 10px;

}


#circle {
  width: 95px;
  height: 93px;
  margin: 0 auto;

  border: 6px solid rgba(76, 174,205, 0.7);
  border-radius: 95px;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;

}

#circle .cmsk {
  height: 83px;
  position: absolute;
  width: 83px;
  top: 0;
  left: 0;
}

#circle:hover {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  border-color: rgba(0, 0, 0, 0);
}

.clock {
  display: block;
}

#circle:hover {
  border-color: rgba(255, 255, 255, 0.6);
  background-color: #4caecd;
}

#circle:hover .clock {
  display: block;
}

#circle:hover .circlecontent {
  display: none;
}

#circle span {
  font-size: 18px;
  color: #b0b0b0;
}

#circle .clock {
  background: url(../images/clock.png) no-repeat 0 0;
  width: 83px;
  height: 83px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border-radius: 0;
}

#circle:hover .clock {
  border-radius: 83px;
}

.timeyear {
  color: #b0b0b0;
  font-size: 18px;
  line-height: 20px;
}

.timeblock {
  height: 28px;
  margin-top: 22px;
  margin-left: 5px;
}

.timeblock span {
  display: block;
  height: 24px;
  width: 18px;
  background: url(../images/date.png) no-repeat 0 0;
  float: left;
}

.timeblock .numf {
  background-position: 0px -48px;
}

.timeblock .nums {
  background-position: 0px 0px;
}

.timeblock .numt {
  background-position: 0px -24px;
}

.timeblock .numfo {
  background-position: 0px -144px;
}

/*#content {
  width: 100%;
  !*height: 555px;*!
  !*width: 1180px;*!
  !*overflow: hidden;*!
  background: url(../images/vertical.png) repeat-y center;

}*/

.list {
  width: 100%;
  position: relative;
  top: 25px;
}

.list li{
  margin: 0 0 15px 0;
  height: 80px;


}
.list .liwrap{
  width: 80%;
  height: 80px;

  margin: 0 auto;

}
.list .liwrap .lileft{
  width: 45%;
  height: 50px;
  float: left;
  /*text-align: right;*/
  /*margin-right: 10px;*/


  position: relative;
}

.list .liwrap .lileft .date{
  width: 90%;
  height: 20px;
  position: absolute;
  top:0;
  right: 20px;
  text-align: right;

}

.list .liwrap .licenter{
  width:6%;
  height: 50px;
  float: left;

}
.list .liwrap .licenter .point{
  width: 100%;
  height: 50px;
  /*background-color: #000a2e;*/
  background: url("../images/point.png") no-repeat;
}
.list .liwrap .licenter .point b{
  text-align: center;
  height: 19px;
  width: 19px;

  display: block;

  border-radius: 50%;
  /*border: 2px solid #666;*/
  box-sizing: content-box;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  margin: 0 auto;
  background-color: #4caecd;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.6);
  box-shadow: 0 0 3px rgba(0,0,0,0.6);
}
/*.list .liwrap .licenter .point span{
  text-align: center;
  height: 16px;
  width: 16px;
  background: #fff;
  display: block;

  border-radius: 18px;
  border: 10px solid #6bc30d;

}*/

.md {
  font-size: 18px;
  color: #f7b645;
  font-weight: bolder ;
}

.year {
  font-size: 12px;
  margin-right: 10px;
  color: #f7b645;
font-weight: bolder ;
}
.list .liwrap .liright{

  width: 47%;
  height: 50px;

  float: right;
}

/*.list .liwrap .liright .box .arrow *{
  display:block;
  border-width:10px;
  position:absolute;
  border-style:solid dashed dashed dashed;
  font-size:0;
  line-height:0;
}
.list .liwrap .liright .box .arrow em{
  border-color:#09F transparent transparent;
}
.list .liwrap .liright .box .arrow span{
  border-color:red transparent transparent;
  top:-1px;
}*/
.list .liwrap .liright .histt{
  height: 35px;
  line-height: 35px;
}
.list .liwrap .liright .histt a{
  color: #4caecd;
  font-size: 20px;
  font-weight: bold;
}

.list .liwrap1{
  width: 80%;
  height: 80px;
  /*background-color: #7cb5ec;*/
  margin: 0 auto;
  position: relative;
}
.list .liwrap1 .lileft{
  width: 45%;
  height: 50px;

  float: left;

  /*text-align: right;*/
  /*margin-right: 10px;*/
  /*background-color: red;*/
  position: relative;
}
.list .liwrap1 .lileft .date{
  width: 20%;
  height: 20px;
  position: absolute;
  top:0;
  right: 20px;
  color: #4caecd;
  font-weight: 500;
}

.list .liwrap1 .licenter{
  width:6%;
  height: 50px;
  float: left;

  /*background-color: darkred;*/
}
.list .liwrap1 .licenter .point{
  width: 100%;
  height: 50px;

  /*background-color: #000a2e;*/
  background: url("../images/point.png") no-repeat 45px 0;
}
.list .liwrap1 .licenter .point b{
  text-align: center;
  height: 19px;
  width: 19px;

  display: block;
  box-sizing: content-box;
  background-color: #4caecd;

  border-radius: 50%;
  /*border: 2px solid #f7b645;*/

  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  margin: 0 auto;

  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.6);
  box-shadow: 0 0 3px rgba(0,0,0,0.6);
}


.list .liwrap1 .liright{
  width: 47%;
  height: 50px;
  /*background-color: #00b0e8;*/

  float: right;
}
.list .liwrap1 .lileft .histt{
  height: 35px;
  line-height: 35px;
  position: absolute;
  top:0;
  right: 20px;
}
.list .liwrap1 .lileft .histt a{
  color: #4caecd;
  font-size: 20px;
  font-weight: bold;
}



.timezone{
  width:6px;
  height:850px;

  background: #4caecd;
  margin: 0 auto;
  margin-top:50px;
  border-radius: 3px;
  position: relative;
  -webkit-animation: heightSlide 2s linear;
}
@-webkit-keyframes heightSlide{
  0%{
    height: 0;
  }
  100%{
    height:850px;
  }
}
.timezone:after{
  content: '未完待续...';
  width: 100px;
  color:#fff;
  position: absolute;
  margin-left: -35px;
  bottom: -30px;
  -webkit-animation: showIn 4s ease;
}
.timezone .time,.timezone .timeLeft{
  position: absolute;
  margin-left: -10px;
  margin-top:-10px;
  width:20px;
  height:20px;
  border-radius: 50%;
  border:4px solid rgba(255,255,255,0.5);
  background: #4caecd;
  -webkit-transition: all 0.5s;
  -webkit-animation: showIn ease;
}
.timezone .time:nth-child(1){
  -webkit-animation-duration:1s;
}
.timezone .timeLeft:nth-child(2){
  -webkit-animation-duration:1.5s;
}
.timezone .time:nth-child(3){
  -webkit-animation-duration:2s;
}
.timezone .timeLeft:nth-child(4){
  -webkit-animation-duration:2.5s;
}
@-webkit-keyframes showIn{
  0%,70%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.timezone .time h2,.timezone .timeLeft h2{
  position: absolute;
  margin-left: -120px;
  margin-top: 3px;
  font-size: 16px;
  cursor:pointer;
  font-weight: bold;
  color: #f7b645;
  -webkit-animation: showIn 3s ease;
}
.timezone .timeLeft h2{
  margin-left: 60px;
  width: 100px;
  color: #f7b645;

}
.timezone .time:hover,.timezone .timeLeft:hover{
  border:4px solid #4caecd;
  background: lemonchiffon;
  box-shadow: 0 0 2px 2px rgba(255,255,255,0.4);
}
.timezone .time div,.timezone .timeLeft div{
  position: absolute;
  top:50%;
  margin-top: -25px;
  left:50px;
  width: 200px;
  height: 50px;
  line-height: 45px;
  background: #4caecd;
  border:3px solid #eee;
  border-radius: 10px;
  z-index: 2;
  overflow: hidden;
  cursor:pointer;
  -webkit-animation: showIn 3s ease;
  -webkit-transition: all 0.5s;
}
.timezone .timeLeft div{
  left:-236px;
}

.timezone .time div p,.timezone .timeLeft div p{
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.timezone .time:before,.timezone .timeLeft:before{
  content: '';
  position: absolute;
  top:0px;
  left: 32px;
  width: 0px;
  height: 0px;
  border:10px solid transparent;
  border-right:10px solid #4caecd;

  -webkit-animation: showIn 3s ease;
}
.timezone .timeLeft:before{
  left:-33px;
  border:10px solid transparent;
  border-left:10px solid #4caecd;
}
.timezone .time div ul,.timezone .timeLeft div ul{
  list-style: none;
  width:300px;
  padding:5px 0 0;
  border-top:2px solid #eee;
  color:#fff;
  text-align: center;
}
.timezone .time div li,.timezone .timeLeft div li{
  display: inline-block;
  height: 25px;
  line-height: 25px;
}