/*
ol{
    margin: 0;
    padding: 0;
}
#pic{
    height: 550px;
    background: url("../images/picl.jpg");
    z-index: 999;
}

#pic .zijin-table-head:hover .zijin-table-bigmask{
    background: rgba(0,0,0,.5);
}
#pic .container{
    text-align: center;
    color: #fff;
    padding-top: 190px;
}
#header{
    margin-top:70px;
    text-align: center;
}
#header .pic{
    margin-top: 10px;
    height:650px;

    background: url("../images/picl.jpg");
}

#introduce .content{
    background-color: #f6f5f5;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in ;
    z-index: 1;
    cursor: pointer;

}
#introduce .content1{
    background-color: #BEE7FD;
    padding: 25px;
}
#introduce .content2{
    background-color: #D2DBFC;
}
#introduce .content:hover{
    border-radius: 50px;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    z-index: 2;
    box-shadow: 10px 10px 10px rgba(50,50,50,0.6);

}
!*#introduce .animation{
  display: block;
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 0;
  width: 0;
  height: 100%;
  border: 8px solid #ff9912;
  background: transparent;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}
#introduce .list:hover .animation{
  display: block;
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 0;
  width: 0;
  height: 100%;
  border: 8px solid #ff9912;
  background: transparent;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}*!
#show{
    margin-top: 20px;
}
*/
.zijin-introduce{
    background: #fafafa;
}
.zijin-introduce-head{
    position: relative;
    /*padding:150px 0;*/
    text-align: center;
    color: #f5f5ff;
    /*background: url(../images/picl.jpg) center 20% no-repeat;*/
    background-size: 100% auto;
}
@media screen and (max-width: 767px){
    .zijin-introduce-head{
        background-size: auto 100%;
    }
}
.zijin-introduce .zijin-introduce-head .zijin-introduce-bigmask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(0,0,0,.3);
    -moz-transition: all ease 1.5s;
    -o-transition: all ease 1.5s;
    -webkit-transition: all ease 1.5s;
    transition: all ease 1.5s;
}
.zijin-introduce .zijin-introduce-head:hover .zijin-introduce-bigmask{
    background: rgba(0,0,0,.5);
}
.zijin-introduce .zijin-introduce-head h1{
    position: relative;
    z-index: 10;
    margin-bottom: 50px;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.9);
}
.zijin-introduce .zijin-introduce-head p{
    position: relative;
    z-index: 10;
    font-size: 18px;
}
/* .zijin-study-head p.zijin-study-text1{
	margin-bottom:10px;
	font-size: 26px;
	font-weight: 700;
	color:#5faee3;
	font-style: italic;
}
.zijin-study-head p.zijin-study-text2{
	margin-bottom: 34px;
	font-size: 32px;
	font-weight: 700;
	color: #ff6100;
	text-shadow: 0px 0px 1px #000;
}
@media (max-width: 992px){
	.zijin-study-head p.zijin-study-text1{
		font-size: 22px;
	}
	.zijin-study-head p.zijin-study-text2{
		font-size: 26px;
	}
}
@media (max-width: 768px){
	.zijin-study-head p.zijin-study-text1{
		font-size: 18px;
	}
	.zijin-study-head p.zijin-study-text2{
		font-size: 22px;
	}
}
@media (max-width: 450px){
	.zijin-study-head p.zijin-study-text1{
		font-size: 14px;
	}
	.zijin-study-head p.zijin-study-text2{
		font-size: 16px;
	}
} */
.zijin-introduce-body{
    /*padding:60px 0 0;*/
    /*background: url(../images/about-section-bg.jpg);*/
    background-size: 100% auto;
}

#introduce,#history,#online{
    background: #e4e4e4;
}
#introduce,#load,#history,#online,#module{
    padding:50px 0;
}
#introduce h3 , #load h3,#history h3,#online h3,#module h3{
    font-weight: bold;
    line-height: 1.5;
}
#introduce p,#load p,#history p,#online p,#module p {
    padding: 0;
    line-height: 2;
    letter-spacing: 1px;
}
#load,#module{
    background-color: #fff;
}
#introduce .container .img{
    height: 340px;
    background: url("../images/introduce.png") no-repeat;
}
#history .container .img{

    height: 340px;
    background: url("../images/tanhua.png") no-repeat;
}
#module .container .img{

    height:340px;
    background: url("../images/jinrong.png") no-repeat;
}
#online .container .img{

    height:340px;
    background: url("../images/celvxiaoguo.png") no-repeat;
    background-size: 85%;
}
#load .container .img{

    height: 340px;
    background: url("../images/celv.png") no-repeat;
}

#jietu {
    position: relative;
    height: 250px;
}
#jietu .title{
    margin: 50px auto 0;
    width: 350px;
   text-align: center;
    border:1px solid #5c5c5c;
    padding: 30px 10px;
    box-shadow:2px 2px 5px #5c5c5c;
    border-radius: 10px;
}
#jietu .blink_wrap{
    margin: 0 auto;
    cursor: pointer;
    width: 73px;
    height:75px;
    position: absolute;
    top: 120px;
    left: 48%;
    bottom: 0px;

}
#jietu .blink{
    margin-top: 55px;
    animation: slide 1s infinite linear;
    background: url("../images/jiantou.png") 0 0;
    width: 73px;
    height: 28px;
}
@keyframes slide
{
    0% {margin-top: 50px}
    50%{
        margin-top: 80px;
    }
    100% {margin-top: 50px}
}
#stock{
    background-color: #f7f1f9;
}
#stock .col-xs-12{
    height: 500px;
    background: url("../images/gupiaojietu.jpg") center no-repeat;
    background-size: 80%;
}




/*#introduce .list{
    padding: 30px 0 0 100px;
    background-color: #f8f7fd;
    !*background: url("../images/shuidi-005.jpg") no-repeat;*!
    !*color: #ffffff;*!
}
#introduce .list1{
    background: rgb(228,228,228);
}
#introduce .list .title{
    position: relative;
    margin: 0 0 30px;
    padding: 0;
    color: #228b22;
    letter-spacing:7px;
    font-size: 24px;
}

#introduce .content{
    margin: 0 0 50px;
    padding: 0;
    line-height: 2;
    letter-spacing: 1px;
}*/
/*#introduce .content{

    -webkit-box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in ;
    z-index: 1;
    cursor: pointer;
    height: 250px;

}*/
/*
#introduce .content:hover{
    border-radius: 50px;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    z-index: 2;
    box-shadow: 10px 10px 10px rgba(50,50,50,0.6);

}*/
/*#introduce .animation{
     display: block;
     position: absolute;
     opacity: 0;
     left: 50%;
     top: 0;
     width: 0;
     height: 100%;
     border: 8px solid #ff9912;
     background: transparent;
     -moz-transition: all ease 1s;
     -o-transition: all ease 1s;
     -webkit-transition: all ease 1s;
     transition: all ease 1s;
 }
#introduce .list:hover .animation{
    display: block;
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 0;
    width: 0;
    height: 100%;
    border: 8px solid #ff9912;
    background: transparent;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
}*/
 #show{
     margin-top: 20px;
 }
#show .box6{
    margin: 20px auto;
    width: 300px;
    min-height: 80px;
    padding: 10px;
    position:relative;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -webkit-border-top-left-radius: 60px 5px;
    -webkit-border-top-right-radius: 60px 5px;
    -webkit-border-bottom-right-radius: 60px 60px ;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3) ;

}

#show .box6:before{
    content:'';
    width: 25px;
    height: 20px;
    position: absolute;
    bottom:0;
    right:0;
    -webkit-border-bottom-right-radius: 30px;
    -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transform:
        rotate(-20deg)
        skew(-40deg,-3deg)
        translate(-13px,-13px);
}

#show .box6:after{
    content: '';
    z-index: -10;
    width: 100px;
    height: 100px;
    position:absolute;
    bottom:0;
    right:0;
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    -webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(0deg)
    translate(-45px,-20px)
    skew(20deg);
}
#show .box6_corner_lf{
    width: 100px;
    height: 100px;
    top:0; left:0;
    position:absolute;
    z-index:-6;
    display: inline-block;
    -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg)
    translate(20px,25px)
    skew(20deg);
}

#show .box6_corner_rt{
    content: '';
    width: 50px;
    height: 50px;
    top:0; right:0;
    position:absolute;
    display: inline-block;
    z-index:-6;
    -webkit-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg)
    translate(-14px,20px)
    skew(-20deg);
}


#show h1{
    font-size: 25px;
    font-weight: bold;
    line-height: 80px;
    /*margin-top: 5px;*/
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}





/*
.zijin-study-body .zijin-study-item{
    text-align: center;
}
@media (max-width: 991px){
    .zijin-study-body .zijin-study-item{
        margin-bottom: 20px;
    }
}
.zijin-study-body .zijin-study-item .zijin-study-box{
    position: relative;
    padding-bottom: 20px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
}
.zijin-study-body .zijin-study-item .zijin-study-line{
    position: absolute;
    opacity: 0;
    left: 50%;
    top:0;
    width: 0;
    height: 100%;
    border: 8px solid #ff9912;
    background: transparent;
    -moz-transition:all ease 1s;
    -o-transition:all ease 1s;
    -webkit-transition:all ease 1s;
    transition:all ease 1s;
}
.zijin-study-body .study-item-one:hover .study-line1{
    opacity: 1;
    width: 100%;
    left: 0;
}
.zijin-study-body .study-item-two:hover .study-line2{
    opacity: 1;
    width: 100%;
    left: 0;
}
.zijin-study-body .study-item-three:hover .study-line3{
    opacity: 1;
    width: 100%;
    left: 0;
}
.zijin-study-body .study-item-four:hover .study-line4{
    opacity: 1;
    width: 100%;
    left: 0;
}
.zijin-study-body .zijin-study-item i{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.zijin-study-body .zijin-study-item h3{
    margin:0 0 15px;
    color: #39629A;
}
.zijin-study-body .zijin-study-item p{
    margin-bottom: 0;
    min-height: 60px;
    padding:0 20px;
    color: #333;
}
.zijin-study-body .study-item-one .zijin-study-box{
    background: #BEE7FD;
}
.zijin-study-body .study-item-one i{
    background-image: url(../images/57bbc5e7ea07a_12.png);
}
.zijin-study-body .study-item-two .zijin-study-box{
    background: #D2DBFC;
}
.zijin-study-body .study-item-two i{
    background-image: url(../images/57eb2fc7c6d8b_10.png);
}
.zijin-study-body .study-item-three .zijin-study-box{
    background: #ebb0e8;
}
.zijin-study-body .study-item-three i{
    background-image: url(../images/57bbc5e7ea07a_12-09.png);
}
.zijin-study-body .study-item-four .zijin-study-box{
    background: #f8c5c3;
}
.zijin-study-body .study-item-four i{
    background-image: url(../images/57eb2fc7c6d8b_25.png);
}
.zijin-study-footer{
    padding: 60px 0;
}
.zijin-study-footer button{
    margin: 16px 0 24px;
    padding: 0;
    width: 180px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 6px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: inset 0 1px 10px 1px #d9d9d9, 0 1px 0 #bfbfbf,
    0 6px 0 #a6a6a6, 0 8px 4px 1px #737373;
    -webkit-box-shadow: inset 0 1px 10px 1px #d9d9d9, 0 1px 0 #bfbfbf,
    0 6px 0 #a6a6a6, 0 8px 4px 1px #737373;
}
.zijin-study-footer button:active{
    margin: 20px 0;
    box-shadow: inset 0 1px 10px 1px #d9d9d9,
    0 1px 0 #bfbfbf, 0 2px 0 #a6a6a6, 0 4px 3px 0px #737373;
    -webkit-box-shadow: inset 0 1px 10px 1px #d9d9d9,
    0 1px 0 #bfbfbf, 0 2px 0 #a6a6a6, 0 4px 3px 0px #737373;
}
.zijin-study-footer img{
    width: 100px;
    height: auto;
    -moz-animation: myrotate 3s linear 0s infinite;
    -o-animation: myrotate 3s linear 0s infinite;
    -webkit-animation: myrotate 3s linear 0s infinite;
    animation: myrotate 3s linear 0s infinite;
}
.zijin-study-footer .zijin-study-leftbtn{
    background: transparent url(../images/579a20e31790a_07.png) center center no-repeat;
    background-size: 100% 100%;
    color: #fff;
}
.zijin-study-footer .zijin-study-rightbtn{
    background: transparent url(../images/579a20e31790a_03.png) center center no-repeat;
    background-size: 100% 100%;
    color: #fff;
}
@keyframes myrotate{
    0% {
        transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
    }
    25% {
        transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
    }
    50% {
        transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
    }
    75% {
        transform:rotate(270deg);
        -ms-transform:rotate(270deg);
        -webkit-transform:rotate(270deg);
    }
    100% {
        transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
    }
}
*/
