.modalRes{
	margin-top: 70px;
}
@media (max-width: 767px ){
	.modalRes{margin-top: 50px;}
}
.modalRes-head{
	margin-bottom: 10px;
	padding: 40px 0;
	text-align: center;
	box-shadow: 0 0 5px 5px #ccc;
}
.modalRes-head .modalRes-head-icon{
	margin-right: 5px;
	vertical-align: middle;
}
.modalRes-head .modalRes-head-title{
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
.modalRes-head .modalRes-head-text{
	display: inline-block;
	margin-left: 30px;
	padding-left: 30px;
	border-left: 1px solid;
	max-width: 800px;
	vertical-align: middle;
	text-align: left;
	color: #666;
}
@media screen and  (max-width: 1200px){
	.modalRes-head .modalRes-head-text{
		display: none;
	}
}
.modalRes-box .modalRes-box-wrapper{
	position: relative;
	margin:15px 0;
	padding: 10px 0 40px;
	text-align: center;
	border: 1px solid #ccc;
	box-shadow: 0 0 20px 2px rgba(9,9,9,.1);
    border-radius: 6px;
    background: #fff;
    z-index: 2;
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-plus{
	position: absolute;
	bottom: 15px;
	right: 15px;
	font-size: 22px;
	font-weight: bold;
	color:#888;
	font-style: normal;
	cursor: pointer;
	z-index: 5;
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-title{
	position: relative;
	display: block;
	margin: 20px 0 10px;
	font-weight: bold;
	font-size: 26px;
	cursor: pointer;
	z-index: 5;
}
.modalRes-box .modalRes-box-wrapper  .modalRes-box-mask{
	position: absolute;
	display: none;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background:rgba(0,0,0,.35);
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-text{
	position: relative;
	z-index: 5;
}
.modalRes-box-top, .modalRes-box-right, .modalRes-box-bottom, .modalRes-box-left{
	display: inline-block;
	position: absolute;
	background: #228b22;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
	transition: all ease 1s;
	z-index: 10;
}
.modalRes-box-top{
	top:-2px;
	left: 0;
	width: 0;
	height: 2px
}

.modalRes-box-right{
	top:0;
	right: -2px;
	width: 2px;
	height: 0;
}
.modalRes-box-bottom{
	bottom:-2px;
	right: 0;
	width: 0;
	height: 2px
}
.modalRes-box-left{
	bottom:0;
	left: -2px;
	width: 2px;
	height: 0;
}
.h100{
	height: 100%;
}
.w100{
	width: 100%;
}
.modalRes-list{
	padding: 60px 0 80px;
	box-shadow: inset 0 -2px 0 2px rgba(9,9,9,.1);
}
.modalRes-list .modalRes-list-title{
	margin: 0 0 30px;
}
.modalRes-list .modalRes-list-icon{
	margin-right: 5px;
}
.modalRes-list .modalRes-list-plus{
	display: inline-block;
	vertical-align: text-bottom;
	font-size: 20px;
	font-weight: bold;
	color:#228b22;
	font-style: normal;
	cursor: pointer;
}
.modalRes-obj{
	background: #fcfcfc;
}
.modalRes-method{
	background:#f7f7f8;
}
.modalRes-exa{
	background: #f3f3f7;
}
.modalRes-data{
	background: #fcfcfc;
	box-shadow: none;
}