/*.zijin-table .zijin-table-head{
	position: relative;
	padding:135px 0 105px;
	text-align: center;
	color: #f5f5ff;
	background: url(../images/m5655d57ce7646.jpg) center 35% no-repeat;
	background-size: auto auto;
}
.zijin-table .zijin-table-head .zijin-table-bigmask{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	background: rgba(0,0,0,.4);
	-moz-transition: all ease 1.5s;
	-o-transition: all ease 1.5s;
	-webkit-transition: all ease 1.5s;
	transition: all ease 1.5s;
}
.zijin-table .zijin-table-head:hover .zijin-table-bigmask{
	background: rgba(0,0,0,.5);
}
.zijin-table .zijin-table-head h3,.zijin-study .zijin-study-head h3,.modalRes-head h3{
	position: relative;
	z-index: 10;
	margin-bottom: 25px;
	letter-spacing: 2px;
	color: #e3e1e1;
	font-family: "Sans-serif";
	font-weight: bold;
	!*text-shadow: 1px 1px 2px rgba(0,0,0,.9);*!
}
.zijin-table .zijin-table-head p,.zijin-study .zijin-study-head p,.modalRes-head p{
	font-family: "Sans-serif";
	font-weight: bold;
	position: relative;
	z-index: 10;
	font-size: 16px;
	color: #e3e1e1;
}*/

.zijin-table,.analyse,.zijin-index,.zijin-complie,.modalRes,.runCenter,.trueR,.admincenter {
	padding: 4.5rem 0 0 10rem;
	/*background-color: rgb(233, 237, 239);*/
	/*margin-top: 50px;
	margin-bottom: 50px;*/
}

.zijin-table .zijin-table-body table td ,.zijin-table .zijin-table-body table th{
	text-align: center;
	vertical-align: middle;
}
.zijin-table .zijin-table-body .table-responsive1{
	/*overflow: hidden;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 30px #ddd;
	-moz-box-shadow:0 0 30px #ddd;
	box-shadow:0 0 30px #ddd;*/
	height: 1000px;
	border: 1px solid transparent;
}
.zijin-table .zijin-table-body table{
	font-size: 1rem;
	background-color: #fff;
}
.zijin-table .zijin-table-body table button{
	font-size: 1rem;
}
.zijin-table .zijin-table-body table thead{
	/*border:2px solid #707ea1;*/
	/*font-size: 16px;*/
	/*font-weight: 700;*/
	font-family: "宋体";
	font-size: 1rem;
	background-color: #6e9cbd;
	color:#fff;
}

#container3 table td{
	border-right: 1px solid #ccc;
}
#container6 table td{
	border-right: 1px solid #ccc;
}
#container1 table td{
	border-right: 1px solid #ccc;
}
#container table td{
	border-right: 1px solid #ccc;
}
.zijin-table .zijin-table-body .zijin-table-title{
	margin-bottom: 30px;
}
.zijin-table .zijin-table-body .zijin-table-title span{
	display: inline-block;
	vertical-align: middle;
	font-size: 35px;
	color: #b22;
	font-family: "宋体";
	font-weight: bold;
}
.zijin-table .zijin-table-body .zijin-table-title .zijin-table-add{
	display: inline-block;
	margin-left: 10px;
	vertical-align: -60%;
	width: 20px;
	height: 20px;
	background: url(../images/997e452bb58b921ba5c3ca82c3a263d2.png) center center no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}
/* mask */
.zijin-table-mask{
	position: fixed;
	display: none;
	z-index: 100;
	top: 0;
	padding-top: 6%;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.2);
	transition: all 2s;
}
.zijin-table-mask form {
	border-radius: 10px;
	padding: 6% 3%;
	background: #fafafa;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.7);
	box-shadow: 0 0 20px rgba(0,0,0,0.7);

}
.zijin-table-mask form input[type='file']{
	padding-top:0;
	padding-bottom: 0; 
}
.rec-strategy .zijin-table-title{
	cursor: pointer;

}
.rec-strategy .zijin-table-title .caret{
	border-top: 10px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;

}
.zijin-table .rec-strategy .zijin-table-title span{
	color:#222;
}

.error{
	color:red;
}
.now{
	color:#46b8da;
}
.his{
	color:#5cb85c;
}
.true{
	color:#f0ad4e;
}
.ipt{
	width: 85%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*#abc{*/
/*height: 85%;*/
/*width: 100%;*/
/*margin: 0 auto;*/
/*overflow: hidden;*/
/*border: 1px solid  #fff;*/
/*border-radius: 10px;*/
/*}*/
#log{
	height: 90%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	color:#fff;
	padding: 2%;
	/*border-left:2px solid #000;*/
	/*border-right:2px solid #fff;*/
	/*border-top:2px solid #000;*/
	/*border-bottom:2px solid #fff;*/
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
	box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
	border-radius: 10px;
	/*background:url(../images/logback.jpg);*/
}
.logs{
	background:url(../images/logback.jpg);
	/*background: #a876ba;*/
	height: 450px;
	/*width: 650px;*/
	padding: 1%;
	border-radius:10px;
	/*border: 1px solid #aaa;*/
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.7);
	box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
#logname{
	color:#fff;
	font-size: 20px;
	text-align: center;
	margin-bottom: 2%;
}
.btn-right{
	margin-left: 2%;
}

/*新加的*/
 .guide{
	/*height: 40px;*/

	/*border-bottom: 1px solid #ccc;*/
}
 .guide ul{
	 background-color: #fff;

	 margin: 0;
	 height: 2.91667rem;
	 border-bottom: 1px solid #ccc;
}
 .guide ul li{
	 float: left;
	 line-height: 2.83333rem;
	 width: 12.33333rem;
	 border-right: 1px solid #ccc;
	 font-size: 1.3rem;
	 font-weight: 400;
	 text-align: center;
	 color: #b4b4b4;
	 cursor: pointer;
}

 .guide ul .active{


	color: #FF6100;
	 font-weight: 700;
	 border-bottom: solid 2px;
	 transition: color .3s ease-in-out;
	 /*transition: width .2s ease-in-out;*/
}
/* .guide ul .active:after{

	 content: "";


	 transition: width .2s ease-in-out;
 }*/
 .zijin-table .trading{
	 margin: 0;
 }
 .zijin-table .tip{
	 margin: 0;
	 padding: 0;
	 font-size: 1.16667rem;
	 height: 3.2rem;
	 line-height: 3.2rem;

	 background-color: #fff;
 }
 .zijin-table .tip .btn{
	 margin-left: 2.91667rem;
	 padding: .3em .6em;
	 text-decoration: none;
 }
 .zijin-table .tip ul {
	 display: block;
	 background-color: #fff;
	 /*padding: 0;*/
	 padding: 0.1rem 0 0 3.7rem;
 }
 .zijin-table .tip ul li{
	 float: left;
 }
 .zijin-table .tip ul li.li{
	 margin-left: 2rem;
 }
 .zijin-table .tip .operation{
     float: right;
	 margin-right: 8rem;
 }
.zijin-table .table-responsive1{
	width: 90%;
	margin-left:2rem;
	margin-top: 1rem;
}
.rec_table{
	width:65%;
	margin-left:2rem;
	margin-top: 1rem;
}

.trading .section{
	width: 100%;
	margin-left:2rem;
	margin-top: 1rem;
}

.trading .section .contentS li>div:nth-of-type(2) .right{
	text-align: center;
}
.trading .section .contentS li>div:nth-of-type(2) .right .edit{
	display: none;
	width: 100%;
	height: 50px;
}
.trading .section .contentS li>div:nth-of-type(2) .right .edit li{
	display: block;
	float: left;
	width: 30%;
	height: 30px;
	border-radius: 50%;
	background-color: red;
}


.trading .section .contentS .cd-bouncy-nav-trigger{
	text-align: center;
	width: 70%;
	padding:5px 20px;
	margin: 0 auto;
	background: #DC965A;
	color: #ffffff;
	cursor: pointer;
	border-radius:5px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 5px #171718;
}

.pagination li{
	cursor: pointer;
}

@media (max-width: 767px){
	.zijin-table,.analyse,.zijin-index,.zijin-complie,.modalRes,.runCenter,.trueR,.admincenter{
		padding: 4.5rem 0 0 1.3rem;
	}
	.zijin-table .guide{
		height: 55px;
	}
	.zijin-table .guide ul{
		background-color: #fff;
		width: 100%;
		height: 6rem;
		margin: 0;
		border: none;
	}
	.zijin-table .guide ul li{
		width:8rem;
		height: 2.91667rem;
		border-bottom: 1px solid #ccc;
		background-color: #fff;
	}
	.guide ul .active {
		color: #2c50a9;
		border-bottom: solid 2px;
		transition: color .3s ease-in-out;
		/* transition: width .2s ease-in-out; */
	}
	.zijin-table .table-responsive1{

		margin: 0;
		height: 900px;
	}

	.zijin-table .tip {
		padding: 0 0 0 10px;

		font-size: 1.16667rem;
		height: 3.2rem;
		line-height: 3.2rem;
		background-color: #fff;
	}
	.zijin-table .tip ul{
		width: 100%;
		margin-top: -2px;
		padding: 0;
	}
		.zijin-table .tip ul li{
			background-color: #fff;

		}
	.zijin-table .tip ul li.li{
		margin:0;
	}

	.zijin-table .tip .operation{
		margin-right: 0;
	}
	.zijin-table .table-responsive1{
		width:100%;

	}
	.trading .section{
		width: 100%;
		margin-left:1rem;
		margin-top: 1rem;
	}
	.trading .section .contentS{
		margin-left:0.5rem;
	}
	.rec_table{
		width:100%;
		/*float: left;*/
		margin-left:1rem;
		margin-top: 1rem;
	}

}