.runCenter .kind{


  height: 100%;
  /*margin-left: 0.83333rem;*/
  /*margin-top: 0.83333rem;*/
}
.runCenter .kind .section{
  width: 100%;margin-left: 0.83333rem;  margin-top: 0.83333rem;
}
.runCenter .kind .contentS{
  width: 53%;  float: left;
}
.runCenter .kind .draw{
  width: 45%;
  height: 500px;
  margin-left:1%;
  float: left;

}
.runCenter .kind .draw  #highchart_view{
  width: 100%;
  height: 100%;
}
.runCenter .kind ul li{
  display: table;
  width: 100%;
  margin-bottom: 0.83333rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(67, 67, 67);
  background: rgb(255, 255, 255);

}
.runCenter .kind .tip1{
  width:100%;background-color: #fff;padding: 0.1rem 0 0 3rem;font-size: 1.16667rem;height: 3.2rem;line-height: 3.2rem;
}
.runCenter .kind .tip1 .tip1_1{
  float: left;
}
.runCenter .kind .tip1 .intro{
  float: right;margin-right: 60px
}
.runCenter .kind .tip1 .intro>div{
  float: left;
}
.runCenter .kind .tip1 .intro>div em{
  display: block;
  width: 30px;height: 15px;float: left;margin: 1rem
}

.runCenter .kind .tip1 .tip1_1 .ul1 span{
  margin-left: 10px;
}
.runCenter .kind ul li>div{
  text-align: center;
  border-right: 1px solid rgb(204, 204, 204);
  border-left: 1px solid rgb(204, 204, 204);
  height: 100%;
  vertical-align: middle;
}
.runCenter .kind ul li>div:first-of-type{
  /*background: rgb(190, 190, 190);*/
  display: table-cell;
  width:8%;
  font-weight: 700;
  font-size: 2.75rem;
  color: rgb(255, 255, 255);
  text-align: center;
}
.runCenter .kind ul li >div:nth-of-type(2){
  width: 52%;
  display: table-cell;
  padding: 1rem;
  text-align: left;
  /*background-color: red;*/

}
.runCenter .kind ul li >div:nth-of-type(2)>a{
  font-weight: 700;font-size:1.2rem
}
/*.runCenter .kind ul li >div:nth-of-type(2) span{
  display: block;
  width: 14rem;
  float: left;
  !*background-color: royalblue;*!
  font-size: 1rem;
}*/
.runCenter .kind ul li >div:nth-of-type(2) span{
  display: block;
  float: left;
  width: 65%;

}
.runCenter .kind ul li >div:nth-of-type(2) .span{
  width: 35%;
}
.runCenter .kind ul li>div:nth-of-type(3){

  display: table-cell;
}
.runCenter .kind ul li>div:nth-of-type(3) span{
  display: block;
  text-align: center ;

  margin: 0 auto;
}
.tdel{
  background-color: #f0ad4e;
}
.sdel{
  background-color: #5bc0de;
}
.hdel{
  background-color: #c7c7c7;
}
.stop{
  background-color:rgb(255,255,0) ;
}
.run{
  background: #ff3232;
}
.zheng{
  color:red
}
.fu{
  color:green
}
@media (max-width: 767px) {
  .runCenter .guide  ul li{
    float: left;
    line-height: 2.83333rem;
    width:8rem;
    border-right: 1px solid #ccc;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;

    cursor: pointer;
  }
  .runCenter .kind .tip1 {
    width: 100%;
    background-color: #fff;
    padding: 0.1rem 0 0 0;
    font-size: 1.16667rem;
    height: 3.2rem;
    line-height: 3.2rem;
  }
  .runCenter .kind .tip1 .intro{
    margin-right: 0;
  }
  .runCenter .kind .contentS {
    width: 100%;;
    margin-left: 0;
    margin-top: 0.83333rem;
  }


  .runCenter .kind ul li>div {
    text-align: center;
    border-right: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    height: 100%;
    vertical-align: middle;
    word-wrap: break-word;
  }
  .runCenter .kind ul li>div:first-of-type {
    /* background: rgb(190, 190, 190); */
    display: table-cell;
    width: 7rem;
    font-weight: 700;
    font-size: 2.75rem;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .runCenter .kind ul li >div:nth-of-type(2) {
    width:18rem;
    display: table-cell;
    padding: 1rem;
    text-align: left;
    /* background-color: red; */
  }
  .runCenter .kind ul li>div:nth-of-type(3) {
    width: 15rem;
    display: table-cell;
  }
  .runCenter .kind ul li >div:nth-of-type(2) span{
    display: block;
    /*width: 20rem ;*/
    margin-left: 0;
  }
  .runCenter .kind ul li >div:nth-of-type(2) .span{

    margin-left: 0;
  }
  .runCenter .kind ul li >div:nth-of-type(3) span{
    display: block;
    /*width: 20rem ;*/
    margin-left: 0;
  }
}


#container,#container1,#container2 {
  width: 180px;
  margin:12% auto;
}
#container h1,#container1 h1,#container2 h1 {
  font-family: 'Lato';
  color: black;
  text-transform: uppercase;
  font-size: 1.5em;
  /*letter-spacing: 1.5px;*/
  text-align: center;
  width: 155px;
  margin-top: 20px;
  -webkit-animation: fade 2s infinite;
  -moz-animation: fade 2s infinite;
}

.stick {
  width: 30px;
  height: 3px;
  background: #214c59;
  display: inline-block;
  margin-left: -8px;
}

.stick:nth-child(n) {
  transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  /* IE 9 */
  -webkit-transform: rotate(30deg);
  /* Safari and Chrome */
  -moz-transform: rotate(30deg);
  -webkit-animation: fall 1s infinite;
  -moz-animation: fall 1s infinite;
}

.stick:nth-child(2n) {
  transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  /* IE 9 */
  -webkit-transform: rotate(-30deg);
  /* Safari and Chrome */
  -moz-transform: rotate(-30deg);
  -webkit-animation: rise 1s infinite;
  -moz-animation: rise 1s infinite;
}

@-webkit-keyframes rise {
  50% {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
  }
}
@-moz-keyframes rise {
  50% {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
  }
}
@-o-keyframes rise {
  50% {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
  }

@keyframes rise {
  50% {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
  }
}
}
@-webkit-keyframes fall {
  50% {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(30deg);
  }
}
@-moz-keyframes fall {
  50% {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
  }
}
@-o-keyframes fall {
  50% {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(30deg);
  }

@keyframes fall {
  50% {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(30deg);
  }
}
}
@-webkit-keyframes fade {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fade {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }

@keyframes fade {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
}