.runCenter .kind{


  height: 100%;
  /*margin-left: 0.83333rem;*/
  /*margin-top: 0.83333rem;*/
}

.runCenter .kind ul li{
  display: table;
  width: 100%;
  margin-bottom: 0.83333rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(67, 67, 67);
  background: rgb(255, 255, 255);

}
.runCenter .kind .tip1{
  width:100%;background-color: #fff;padding: 0.1rem 0 0 3rem;font-size: 1.16667rem;height: 3.2rem;line-height: 3.2rem;
}
.runCenter .kind .tip1 .tip1_1{
  float: left;
}
.runCenter .kind .tip1 .tip1_1 .ul1 span{
  margin-left: 10px;
}
.runCenter .kind ul li>div{
  text-align: center;
  border-right: 1px solid rgb(204, 204, 204);
  border-left: 1px solid rgb(204, 204, 204);
  height: 100%;
  vertical-align: middle;
}
.runCenter .kind ul li>div:first-of-type{
  /*background: rgb(190, 190, 190);*/
  display: table-cell;
  width: 4.5rem;
  font-weight: 700;
  font-size: 2.75rem;
  color: rgb(255, 255, 255);
  text-align: center;
}
.runCenter .kind ul li >div:nth-of-type(2){
  width: 20rem;
  display: table-cell;
  padding: 1rem;
  text-align: left;
  /*background-color: red;*/

}
.runCenter .kind ul li >div:nth-of-type(2) .span{
  margin-left: 1rem;
}
.runCenter .kind ul li>div:nth-of-type(3){
  width: 18.5833rem;
  display: table-cell;
}
.del{
  background-color: #bebebe;
}
.stop{
  background-color:rgb(255,255,0) ;
}
.run{
  background: #ff3232;
}
.zheng{
  color:red
}
.fu{
  color:green
}
