
.runCenter .kind{
  height: 100%;
}
.section{
  width: 100%;margin-left: 0.83333rem;  margin-top: 0.83333rem;
}
.contentS{
  width: 53%;
  float: left;
  position: relative;
  z-index: 1;
}

.contentS .loadEffect span{
  background-color: #cccccc;
}
.runCenter .kind .draw{
  width: 43%;
  height: 500px;
  margin-left:1%;
  float: left;

}
.runCenter .kind .draw .latest{
  font-size: 1.2rem;

  padding: 10px;
}
.runCenter .kind .draw  #highchart_view,#highchart_moni{
  width: 100%;
  height: 100%;
}

.runCenter .kind .tip1{
  width:100%;background-color: #fff;padding: 0.1rem 0 0 3rem;font-size: 1.16667rem;height: 3.2rem;line-height: 3.2rem;
}
.runCenter .kind .tip1>div{
  float: left;
}
/*.runCenter .kind .tip1 .tip1_1{
  float: left;
  width: 55%;

}*/
.runCenter .kind .tip1 .intro{
  float: right;margin-right: 60px
}
.runCenter .kind .tip1 .intro>div{
  float: left;
}
.runCenter .kind .tip1 .intro>div em{
  display: block;
  width: 30px;height: 15px;float: left;margin: 1rem
}

.runCenter .kind .tip1 .tip1_1 .ul1 span{
  margin-left: 10px;
  float: left;

}
.runCenter .kind .tip1  .dealProduct{
 margin-left: 30px;

}
.runCenter .kind .tip1  .product select{
  /*margin-left: 1rem;*/
  /*width: 45%;*/
  /*height: 34px;*/
  /*padding: 6px 12px;*/
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.contentS li{
  display: block;
  /*display: table;*/
  width: 100%;
  /*height: 280px;*/
  margin-bottom: 0.83333rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(67, 67, 67);
  background: rgb(255, 255, 255);

}

.contentS li>div:first-of-type{
  /*display: table;*/
  width: 100%;
  /*padding: 1.5% 5% 1.5% 0;*/
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.5rem;
  /*color: rgb(255, 255, 255);*/
  border-bottom: 1px solid #ddd;
}


.contentS li>div:first-of-type a{
  font-weight: 700;font-size:1.2rem
}
.contentS li>div:first-of-type .name{
  /*display: table-cell;*/
  /*vertical-align: middle;*/

}
.contentS li >div:nth-of-type(2){
  width: 100%;
  /*height: 60%;*/
  padding: 4% 9%;
  display: table;
  border-bottom: 1px solid #ddd;
}
.contentS li >div:nth-of-type(2) .left{
  width: 60%;
  display: table-cell;
  vertical-align: middle;
  border-right: 1px solid #ddd;
  /*background-color: #0a0a0a;*/
}

.contentS li >div:nth-of-type(2) .right{
  width: 40%;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}
.contentS li >div:nth-of-type(2)>a{/*
  font-weight: 700;
  font-size:1.3rem*/
}

.contentS li >div:nth-of-type(2) .left span{
  display: block;
}
.contentS li >div:nth-of-type(2) .span{
  /*width: 35%;*/
}

.contentS li>div:nth-of-type(3){
  width: 100%;
  /*margin: 0 auto;*/
  display: table;
  padding: 1.2% 5%;
  /*text-align: right;*/
}
.contentS li>div:nth-of-type(3) .more{
  display: table-cell;
  vertical-align: middle;
  width: 17%;
  padding: 0.8% 0;
  text-align: center;
  border:1px solid red;
  color: red;
  border-radius: 5px;
  /*margin-right: 0;*/
  float: right;
}
.contentS li>div:nth-of-type(3) .more:hover{
  background-color: red;
  color: #fff;
  cursor: pointer;
}
.drawEach>div{
  border: 1px solid #ccc;
  width: 350px;
  height:200px;
  background-color: #fff;
  display: none;
  position: relative;
  left: 30%;
  top:-40px;
  z-index: 999999;
}

.tdel{
  background-color: #f0ad4e;
  display: block;
  width: 6%;
  line-height: 2.5rem;
  height: 2.5rem;
  text-align: center;
  float: left;
  position: relative;
  color: #fff;
  left: -5px;
}
.tdel:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -.33333rem;
  border-top: .41667rem solid #f0ad4e;
  border-left: .5rem solid transparent;
}
.sdel{
  background-color: #5bc0de;
  display: block;
  width: 6%;
  line-height: 2.5rem;
  height: 2.5rem;
  color: #fff;
  text-align: center;
  float: left;
  position: relative;
  left: -5px;
}
.sdel:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -.33333rem;
  border-top: .41667rem solid #5bc0de;
  border-left: .5rem solid transparent;
}
.hdel{
  background-color: #c7c7c7;
}
.stop{
  background-color:rgb(255,255,0);
  display: block;
  width: 6%;
  line-height: 2.5rem;
  height: 2.5rem;
  text-align: center;
  float: left;
  position: relative;
  left: -5px;
  color: #fff;

}
.stop:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -.33333rem;
  border-top: .41667rem solid rgb(255,255,0);
  border-left: .5rem solid transparent;
}
.run{
  background: #ff3232;
  display: block;
  width: 6%;
  line-height: 2.5rem;
  height: 2.5rem;
  text-align: center;
  float: left;
  position: relative;
  left: -5px;
  color: #fff;

}
.run:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -.33333rem;
  border-top: .41667rem solid #f55555;
  border-left: .5rem solid transparent;

}
.zheng{
  color:red
}
.fu{
  color:green
}

@media (max-width: 767px) {
  .runCenter .guide  ul li{
    float: left;
    line-height: 2.83333rem;
    width:8rem;
    border-right: 1px solid #ccc;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;

    cursor: pointer;
  }
  .runCenter .kind .tip1 {
    width: 100%;
    background-color: #fff;
    padding: 0.1rem 0 0 0;
    font-size: 1.16667rem;
    height: 3.2rem;
    line-height: 3.2rem;
  }
  .runCenter .kind .tip1 .intro{
    margin-right: 0;
  }
  .contentS{
    width: 95%;;
    margin-left: 0.5rem;
  }
  .contentS li>div {
    height: 100%;
    vertical-align: middle;
    word-wrap: break-word;
  }
  .contentS li >div:nth-of-type(2) {
    width:100%;
    display: table;
    padding: 1rem;
    text-align: left;
  }
  .contentS li >div:nth-of-type(2) .left{
    width: 50%;
  }
  .contentS li >div:nth-of-type(2) .right p{
    width: 80%;
    margin: 0 auto;
  }
  .contentS li >div:nth-of-type(2) .right span{
    float: left;
  }
  .contentS li >div:nth-of-type(2) .right span i{
    float: right;
  }


  .runCenter .kind ul li >div:nth-of-type(2) span{
    display: block;
    margin-left: 0;
  }
  .runCenter .kind ul li >div:nth-of-type(2) .span{

    margin-left: 0;
  }
  .runCenter .kind ul li >div:nth-of-type(3) span{
    display: block;
    margin-left: 0;
  }
  .runCenter .kind .draw{
    width: 94%;
  }
  .productMore{
    margin: 35px -60px 0;
  }

  #container,#container1,#container2,#container3{
    width: 180px;
    margin: 12% auto;
    position: relative;
    top: 30%;
    left: 20%;
    z-index: 9999;
  }
}

#container,#container1,#container2,#container3{
  width: 180px;
  margin:12% auto;
  position: absolute;
  top:30%;
  left:50%;
  z-index: 9999;
}
#container h1,#container1 h1,#container2 h1,#container3 h1 {
  font-family: 'Lato';
  color: black;
  font-size: 1.5em;
  text-align: center;
  width: 155px;
  margin-top: 20px;
  -webkit-animation: fade 2s infinite;
  -moz-animation: fade 2s infinite;
}
.stick {
  width: 30px;
  height: 3px;
  background: #214c59;
  display: inline-block;
  margin-left: -8px;
}
.stick:nth-child(n) {
  transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  /* IE 9 */
  -webkit-transform: rotate(30deg);
  /* Safari and Chrome */
  -moz-transform: rotate(30deg);
  -webkit-animation: fall 1s infinite;
  -moz-animation: fall 1s infinite;
}

.stick:nth-child(2n) {
  transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  /* IE 9 */
  -webkit-transform: rotate(-30deg);
  /* Safari and Chrome */
  -moz-transform: rotate(-30deg);
  -webkit-animation: rise 1s infinite;
  -moz-animation: rise 1s infinite;
}

@-webkit-keyframes rise {
  50% {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
  }
}
@-moz-keyframes rise {
  50% {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
  }
}
@-o-keyframes rise {
  50% {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
  }

@keyframes rise {
  50% {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
  }
}
}
@-webkit-keyframes fall {
  50% {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(30deg);
  }
}
@-moz-keyframes fall {
  50% {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
  }
}
@-o-keyframes fall {
  50% {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(30deg);
  }

@keyframes fall {
  50% {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(30deg);
  }
}
}
@-webkit-keyframes fade {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fade {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }

@keyframes fade {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
}