


.body-nav{

    background-color: #fff;
    border-bottom: 1px solid #067dd9;
}
.mobile .body-nav{
    display: none;
}
.navbox{
    width:100%;
    margin:0 auto;
    height: 6rem;
    /*padding: 26px 40px 25px;*/


}
.mobile .navbox{
    width:100%;
    padding:0;
    overflow-x: scroll;
    overflow-y: hidden;
}
.mobile-scroll{
    width:65%;
    height: 6rem;
    margin: 0 auto;
    line-height: 6rem;
}
.mobile .mobile-scroll{

    margin: 0 auto;

}
.nav-item{
    /* display: inline-block; */
    width: 20%;
    height: 6rem;
    line-height: 6rem;
    font-size: 1.2rem;
    float: left;
    text-align: center;
    /*line-height: 26px;*/
    cursor: pointer;
}
.nav-item:after{
    content: "";
    display: block;
    height:16px;
    width:1px;
    background-color: #cfcfcf;
    text-align: right;
    margin-top: 2.5rem;
    float: right;
}
/*.nav-item:nth-child(1),.nav-item:nth-child(4){
    width:160px;
}
.nav-item:nth-child(2),.nav-item:nth-child(3){
    width:170px;
}
.nav-item:nth-child(5){
    width:210px;
}*/
.nav-item:last-child:after{
    width:0;
}
.nav-title{
    color:#6e6e6e;
}

.nav-title.active{
    color:#d9534f;
    font-size: 17px;
    font-weight: bold;
}
span.sanjiao{
    width:25px;
    transform: rotate(180deg);
    position: absolute;
    bottom:0;

    margin-left: 6%;
}
span.sanjiao:before{
    border-bottom-color:#067dd9;
}
/*.nav-item:nth-child(2) span.sanjiao{
    margin-left:6%;
}
.nav-item:nth-child(3) span.sanjiao{
    left:460px;
}
.nav-item:nth-child(4) span.sanjiao{
    left:615px;
}
.nav-item:nth-child(5) span.sanjiao{
    left:805px;
}*/

.span-num{
    color:#067dd9;
}
.item-tutorial,.item-header{
    display: none;
}
.item-tutorial.active{
    display: block;
}
.mobile .item-tutorial,.mobile .item-header{
    display: block;
}
@media (max-width: 767px) {
    .modalRes-body{
        padding:0 0 0 0.3rem;
    }
    .mobile-scroll {
        width: 100%;
        height: 6rem;
        margin: 0 auto;
        line-height: 6rem;
    }
    .modalRes-list {
        padding: 50px 0 80px 0;
        box-shadow: inset 0 -2px 0 2px rgba(9,9,9,.1);
    }
    .nav-title.active {
        color: #d9534f;
        font-size: 1.5rem;
        font-weight: bold;
    }
   /* .navbox {
        width:100%;
        margin: 0 auto;
        !*padding: 26px 40px 25px;*!
        height: 100%;
    }
    .nav-item {
        width: 20%;
        font-size: 1.2rem;
        float: left;
        text-align: center;
        line-height: 26px;
        cursor: pointer;
    }
    .clear {
        clear: both;
    }
    .mr_10 {
        margin-right: 0;
    }
    img {
        vertical-align: middle;
    }
    .nav-title.active {
        color: #d9534f;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .inline-block {
        display: inline-block;
    }
    span.sanjiao {
        width: 10%;
        transform: rotate(180deg);
        position: absolute;
        bottom: 0px;
        left: 125px;
        margin-left: -12.5px;
    }

    .sanjiao {
        display: block;
        height: 0;
    }*/
}