<div class="algorithm" style="background:rgba(98,198,200,0.5);background-image:url(images/bgimg.png)">
    <div class="banner_content">
        <div class="banner_content_view">
            <div class="banner">
                <div class="banner_container" >
                    <div class="banner_section">
                        <h1 class="banner_title">紫金量化竞赛</h1>
                        <hr class="banner_divider"/>
                        <ul class="banner_details">
                            <li class="banner_detail">
                                <img src="images/comps-1-new.png" class="img-responsive"/>
                                <p class="banner_detailContent">
                                    高频金融量化策略，秒级数据<br/>测试比拼。
                                </p>
                            </li>
                            <li class="banner_detail">
                                <img src="images/markScore.png" class="img-responsive"/>
                                <p class="banner_detailContent">
                                    策略各项评价指标打分，比拼十项<br/>全能型策略。
                                </p>
                            </li>
                            <li class="banner_detail">
                                <img src="images/comps-3-submit.png" class="img-responsive"/>
                                <p class="banner_detailContent">
                                    量化算法平台回测，实盘支持，为你的<br/>比赛提高胜算。
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="competition_list_wrapper" >
        <div class="competition_content">
            <div class="content_box_select">
               <!-- <div class="content_box_ways">交易策略排行</div>-->
                <ul class="content_box_way">
                    <li class="active" data-target="#score" data-toggle="tab">按得分排</li>
                    <li data-target="#update" data-toggle="tab">按更新排</li>
                </ul>
            </div>
            <div class="content_box_short tab-content" id="tab-content">
                <div class="tab-pane active" role="tabpanel"  id="score" >
                    <ul class="contentS">
                        <li >
                            <div>
                                <div class="name">
                                    <span class="run">{{$index+1}}</span>
                                    <span>
                                    <a ng-mouseover="drawEach(x,false)" ng-mouseleave="over1(x._id)">{{x.name}}</a>
                                    <em style="font-size: 0.9rem">(交易时间：{{x.time}})</em>
                                </span>
                                </div>
                                <div class="drawEach">
                                    <div class={{x._id}}>
                                        <div class="loadEffect">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="left">
                                    <span>策略代码:<a href="#/codeview/{{x.class_id}}">{{x.code_name}}</a></span>
                                    <span class="span">作者：{{x.author}}</span>
                                    <span>交易产品：{{x.symbol}}</span>
                                    <span class="span">交易手数：{{x.multiple}}</span>
                                </div>
                                <div class="right">
                                    <p><span>策略得分：<e class={{x.yeildColor}}>{{x.yeild}}%</e></span><i class={{x.y}}></i></p>
                                    <p><span>实盘累积收益：<e class={{x.yeildColor1}}>{{x.average_winrate}}% </e></span><i class="{{x.y1}}"></i></p>
                                    <p><span>最新收益：<e class={{x.yeildColor1}}>{{x.average_winrate}}% </e></span><i class="{{x.y1}}"></i></p>
                                </div>
                            </div>
                            <div>
                                <a class="more" ng-click="jump('SimRealTimeTrade',x._id)">详情</a>
                            </div>
                        </li>
                        <li >
                            <div>
                                <div class="name">
                                    <span class="run">{{$index+1}}</span>
                                    <span>
                                    <a ng-mouseover="drawEach(x,false)" ng-mouseleave="over1(x._id)">{{x.name}}</a>
                                    <em style="font-size: 0.9rem">(交易时间：{{x.time}})</em>
                                </span>
                                </div>
                                <div class="drawEach">
                                    <div class={{x._id}}>
                                        <div class="loadEffect">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="left">
                                    <span>策略代码:<a href="#/codeview/{{x.class_id}}">{{x.code_name}}</a></span>
                                    <span class="span">作者：{{x.author}}</span>
                                    <span>交易产品：{{x.symbol}}</span>
                                    <span class="span">交易手数：{{x.multiple}}</span>
                                </div>
                                <div class="right">
                                    <p><span>策略得分：<e class={{x.yeildColor}}>{{x.yeild}}%</e></span><i class={{x.y}}></i></p>
                                    <p><span>实盘累积收益：<e class={{x.yeildColor1}}>{{x.average_winrate}}% </e></span><i class="{{x.y1}}"></i></p>
                                    <p><span>最新收益：<e class={{x.yeildColor1}}>{{x.average_winrate}}% </e></span><i class="{{x.y1}}"></i></p>
                                </div>
                            </div>
                            <div>
                                <a class="more" ng-click="jump('SimRealTimeTrade',x._id)">详情</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" role="tabpanel"  id="update" >
                    <ul class="contentS">
                        <li >
                            <div>
                                <div class="name">
                                    <span class="run">3</span>
                                    <span>
                                    <a ng-mouseover="drawEach(x,false)" ng-mouseleave="over1(x._id)">{{x.name}}</a>
                                    <em style="font-size: 0.9rem">(交易时间：{{x.time}})</em>
                                </span>
                                </div>
                                <div class="drawEach">
                                    <div class={{x._id}}>
                                        <div class="loadEffect">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="left">
                                    <span>策略代码:<a href="#/codeview/{{x.class_id}}">{{x.code_name}}</a></span>
                                    <span class="span">作者：{{x.author}}</span>
                                    <span>交易产品：{{x.symbol}}</span>
                                    <span class="span">交易手数：{{x.multiple}}</span>
                                </div>
                                <div class="right">
                                    <p><span>年化收益率：<e class={{x.yeildColor}}>{{x.yeild}}%</e></span><i class={{x.y}}></i></p>
                                    <p><span>交易胜率：<e class={{x.yeildColor1}}>{{x.average_winrate}}% </e></span><i class="{{x.y1}}"></i></p>
                                </div>
                            </div>
                            <div>
                                <a class="more" ng-click="jump('SimRealTimeTrade',x._id)">详情</a>
                            </div>
                        </li>
                        <li >
                            <div>
                                <div class="name">
                                    <span class="run">{{$index+1}}</span>
                                    <span>
                                    <a ng-mouseover="drawEach(x,false)" ng-mouseleave="over1(x._id)">{{x.name}}</a>
                                    <em style="font-size: 0.9rem">(交易时间：{{x.time}})</em>
                                </span>
                                </div>
                                <div class="drawEach">
                                    <div class={{x._id}}>
                                        <div class="loadEffect">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="left">
                                    <span>策略代码:<a href="#/codeview/{{x.class_id}}">{{x.code_name}}</a></span>
                                    <span class="span">作者：{{x.author}}</span>
                                    <span>交易产品：{{x.symbol}}</span>
                                    <span class="span">交易手数：{{x.multiple}}</span>
                                </div>
                                <div class="right">
                                    <p><span>年化收益率：<e class={{x.yeildColor}}>{{x.yeild}}%</e></span><i class={{x.y}}></i></p>
                                    <p><span>交易胜率：<e class={{x.yeildColor1}}>{{x.average_winrate}}% </e></span><i class="{{x.y1}}"></i></p>
                                </div>
                            </div>
                            <div>
                                <a class="more" ng-click="jump('SimRealTimeTrade',x._id)">详情</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <!--<div class="content_box_titleBar">
                <div class="content_box_title">
                    <span class="content_all">13 个正在进行的比赛</span>
                </div>
                <div class="content_box_title">
                    <span class="content_join" ng-click='hashLocation("/holdcompetition")' ng-show='user.is_admin==true'>举办竞赛</span>
                </div>
            </div>
            <div class="content_box_section">
                <ul class="content_box_selectGroup">
                    <li class="content_box_groundChlid active" >
                        <a data-target="#Active" role="tab" data-toggle="tab">股指价格涨跌预测</a>
                    </li>
                    <li class="content_box_groundChlid">
                        <a data-target="#All" role="tab" data-toggle="tab">股指最高价，最低价预测</a>
                    </li>
                    <li class="content_box_groundChlid">
                        <a data-target="#Entered" role="tab" data-toggle="tab">股指趋势预测</a>
                    </li>
                    <li class="content_box_groundChlid">
                        <a data-target="#Yesterday" role="tab" data-toggle="tab">隔天涨跌幅度预测</a>
                    </li>
                    <li class="content_box_groundChlid">
                        <a data-target="#Rate" role="tab" data-toggle="tab">收益率预测</a>
                    </li>
                </ul>
                <div class="small_list tab-content" id="tab-content">
                    <div role="tabpanel" id="Active" class="tab-pane active" >
                        <div class="block_link" >
                            <a class="block_link_anchor"  href="#/algorithmInformation/id=a1"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_1min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link"  href="#/algorithmInformation/id=a1">预测1分钟股指价格涨跌</a>
                                    </div>
                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=a2"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_2min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=a2">预测2分钟股指价格涨跌</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=a3"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_3min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=a3">预测3分钟股指价格涨跌</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=a5"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_5min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=a5">预测5分钟股指价格涨跌</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=a8"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_8min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=a8">预测8分钟股指价格涨跌</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=a13"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_13min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=a13">预测13分钟股指价格涨跌</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=a21"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_21min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=a21">预测21分钟股指价格涨跌</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=a34"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_34min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=a34">预测34分钟股指价格涨跌</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=a55"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_55min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=a55">预测55分钟股指价格涨跌</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=a89"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_89min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=a89">预测89分钟股指价格涨跌</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=a144"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_144min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=a144">预测144分钟股指价格涨跌</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=a233"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_233min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=a233">预测233分钟股指价格涨跌</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=a2day"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_2day.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=a2day">预测第二日股指价格涨跌</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                    </div>
                    <div role="tabpanel" id="All" class="tab-pane">
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=b2_1"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_2_1min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title" >
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=b2_1">预测1分钟股指最高价与最低价</a>
                                    </div>
                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>6,186 teams</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=b2_2"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_2_2min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title" >
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=b2_2">预测2分钟股指最高价与最低价</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>6,186 teams</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=b2_3"></a>
                            <div class="competition_card" >
                                <div>
                                    <img src="images/thumb76_76_2_3min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title" >
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=b2_3">预测3分钟股指最高价与最低价</a>
                                    </div>
                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>6,186 teams</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=b2_5"></a>
                            <div class="competition_card" >
                                <div>
                                    <img src="images/thumb76_76_2_5min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title" >
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=b2_5">预测5分钟股指最高价与最低价</a>
                                    </div>
                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>6,186 teams</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=b2_8"></a>
                            <div class="competition_card" >
                                <div>
                                    <img src="images/thumb76_76_2_8min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title" >
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=b2_8">预测8分钟股指最高价与最低价</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>6,186 teams</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=b2_13"></a>
                            <div class="competition_card" >
                                <div>
                                    <img src="images/thumb76_76_2_13min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title" >
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=b2_13">预测13分钟股指最高价与最低价</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>6,186 teams</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=b2_21"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_2_21min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title" >
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=b2_21">预测21分钟股指最高价与最低价</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>6,186 teams</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=b2_34"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_2_34min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title" >
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=b2_34">预测34分钟股指最高价与最低价</a>
                                    </div>
                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>6,186 teams</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=b2_55min"></a>
                            <div class="competition_card" >
                                <div>
                                    <img src="images/thumb76_76_2_55min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title" >
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=b2_55min">预测55分钟股指最高价与最低价</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>6,186 teams</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link"  >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=b2_89min"></a>
                            <div class="competition_card" >
                                <div>
                                    <img src="images/thumb76_76_2_89min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title" >
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=b2_89min">预测89分钟股指最高价与最低价</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>6,186 teams</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=b2_144min"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_2_144min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title" >
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=b2_144min">预测144分钟股指最高价与最低价</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>6,186 teams</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=b2_233min"></a>
                            <div class="competition_card" >
                                <div>
                                    <img src="images/thumb76_76_2_233min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title" >
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=b2_233min">预测233分钟股指最高价与最低价</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>6,186 teams</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=b2_2day"></a>
                            <div class="competition_card" >
                                <div>
                                    <img src="images/thumb76_76_2_2day.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title" >
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=b2_2day">预测第二日股指最高价与最低价</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>6,186 teams</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                    </div>
                    <div role="tabpanel" id="Entered" class="tab-pane">
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=c3_10min"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_3_10min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=c3_10min">10分钟为周期趋势波动分类</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor"  href="#/algorithmInformation/id=c3_30min"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_3_30min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link"  href="#/algorithmInformation/id=c3_30min">30分钟为周期趋势波动分类</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor"  href="#/algorithmInformation/id=c3_60min"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_3_60min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link"  href="#/algorithmInformation/id=c3_60min">60分钟为周期趋势波动分类</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor"  href="#/algorithmInformation/id=c3_2day"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/thumb76_76_3_2day.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link"  href="#/algorithmInformation/id=c3_2day">第二日为周期趋势波动分类</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                    </div>
                    <div role="tabpanel" id="Yesterday" class="tab-pane" >
                        <div class="block_link" >
                            <a class="block_link_anchor"  href="#/algorithmInformation/id=dyesterday"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/yesterday.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div>
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=dyesterday">预测隔天涨跌幅度</a>
                                    </div>

                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                    </div>
                    <div role="tabpanel" id="Rate" class="tab-pane">
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=e5"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/rate_5min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=e5">预测5分钟收益率</a>
                                    </div>
                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=e10"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/rate_10min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=e10">预测10分钟收益率</a>
                                    </div>
                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=e30"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/rate_30min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=e30">预测30分钟收益率</a>
                                    </div>
                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=e60"></a>
                            <div class="competition_card">
                                <div>
                                    <img src="images/rate_60min.png" class="img-responsive"/>
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=e60">预测60分钟收益率</a>
                                    </div>
                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured" >进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                        <div class="block_link" >
                            <a class="block_link_anchor" href="#/algorithmInformation/id=e1day"></a>
                            <div class="competition_card" >
                                <div>
                                    <img src="images/rate_1day.png" class="img-responsive" />
                                </div>
                                <div class="competition_card_title">
                                    <div class="">
                                        <a class="competition_card_title_link" href="#/algorithmInformation/id=e1day">预测一天收益率</a>
                                    </div>
                                    <div class="competition_card_meta">
                                        <span class="competition_card_featured">进行中</span>
                                    </div>
                                </div>
                                <div class="competition_card_money">
                                    <div>$1,000,000</div>
                                </div>
                            </div>
                            <div class="competition_card_stats"></div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>