<div class="modalRes-box col-lg-25	 col-md-4 col-sm-6 col-xs-12">
	<div class="modalRes-box-wrapper">
		<a  ng-click="toDetail(mydata.classify,mydata._id)" style="text-decoration:none" class="modalRes-box-title" ng-bind='mydata.title'></a>
		<!-- <p class="modalRes-box-text">{{mydata.text_content}}</p> -->
		<i class="modalRes-box-plus" data-toggle="tooltip" data-placement="left" title="修改模型" tooltip ng-show='mydata.author==username||username=="admin"'>+</i>
		<i class='modalRes-box-del fa fa-trash-o' ng-show='mydata.author==username||username=="admin"'></i>
		<div class="modalRes-box-mask"></div>
		<div class="modalRes-box-top"></div>
		<div class="modalRes-box-right"></div>
		<div class="modalRes-box-bottom"></div>
		<div class="modalRes-box-left"></div>
		<div class='modalRes-box-info'>
			<span class="modalRes-box-author" ng-bind='mydata.author'></span>
			<span class='modalRes-box-text' >发布于</span>
			<span class="modalRes-box-date" ng-bind='mydata.date'></span>
		</div>	
	</div>	

	<div class="modalRes-mask modalRes-mask-objItem" >
		<div class="container">
			<div class="row">
				<div class="test11 col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-0">
				<div class="test1" style="overflow-y: scroll;overflow-x:hidden;" ng-style="obj" id="">
					<!-- <form ng-submit='revModalResObj(mydata)' name='modalResObjForm' novalidate=""> -->
					<form name='modalResObjForm' novalidate="">
						<div class="ModalBorder">
						<h3 class="text-center">研究对象-金融数据</h3>
						<div class="form-group">
							<input type="text" class="form-control" ng-model='mydata.title' placeholder="主题" required="">
						</div>
						<div class="form-group">
							<!--<i class="fa fa-plus" title="添加文件" style="margin-left: 10px"  ng-click="openFile2()"></i>-->
							<i class="fa fa-picture-o" title="插入图片" style="margin-left: 10px" ng-click="openImage2(this)"></i>
							<textarea id="content8" class="form-control" ng-change="changeContent()" ng-model='mydata.content' placeholder="内容（ 支持markdown格式，参考网站：http://www.markdown.cn/）" required=""></textarea>
						</div>
						<div class="form-group" ng-show='mydata.classify=="model_methods" || mydata.classify=="model_examples"|| mydata.classify=="model_quants" || mydata.classify=="model_mls"'>
							<textarea class="form-control" ng-model='mydata.code' placeholder="内容" required=""></textarea>
						</div>
						<div class=" btn-group-lg">
	                        <input class="btn-success btn" type="button" value="提交修改" >
	                        <input class="btn-warning btn btn-right" ng-click="closeMask()" value="关闭" type="button">
	                    </div>
						</div>
					</form>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div id="image2" class="image9" style="overflow-y: scroll;overflow-x:hidden" >
		<a style="float: right"  ng-click="closeImage2()"><i class="fa fa-close"></i></a>
		<a href="javascript:;" class="file">选择图片
			<input type="file" name="" id="image22" onchange="angular.element(this).scope().changeImage(this.files)" file-model="image2" accept="image/gif,image/jpeg,image/jpg,image/png">
		</a>
		<a href=""  class="file9" ng-click="delImage2()">清空</a>
		<a href="" class="file9" ng-click="addImage2()" ng-bind="loadStaus"></a>
		<div ng-if='image02'><img ng-src={{img02}} id="img02" style="width: 100%"></div>
	</div>
	<div id="files2" class="files9">
		<a style="float: right"  ng-click="closeFile2()"><i class="fa fa-close"></i></a>
		<a href="javascript:;" class="file9">选择文件
			<input type="file" name="" id="file2" file-model="file2" >
		</a>
		<a href=""  class="file9" ng-click="delFile2()">清空</a>
		<a href="" class="file9" ng-click="addFile2()">上传</a>
		<div id="filename2">未选择文件</div>
	</div>
</div>

