<div class="zijin-table">
    <div class="zijin-table-head">
        <div class="container">
            <h1>紫金量化 加载策略</h1>
            <p>无论你使用了MachineLearning，DeepLearning，多因子模型，经典海龟模型，量化择时，情绪指数，统计套利等等各种方法，,写出了年化收益最高，最大回撤奇低的各种模型。</p>
            <p>无论你策略在历史数据上回撤多么优秀，一切见真章，你必须要做实验模拟，来检测你策略真正运行效果。</p>
        </div> 
        <div class="zijin-table-bigmask"></div>
    </div>
    <div class="zijin-table-body container sourcing-strategy;">
        <div class="zijin-table-title" style="margin-bottom: 5px">
            <span><i class="glyphicon glyphicon-pencil btn-sm" style="margin-bottom: 4px"></i>策略代码</span>
            <i style="margin-bottom: 4px" class="zijin-table-add" ng-click='openMaskSourcing()' data-toggle="tooltip"  data-placement="right" title="增加策略" tooltip></i>
             <!--<button class="btn btn-danger sour-del" style="float:right;margin-top:20px;margin-right: 48px">删除策略 <i class="fa fa-remove"></i></button>-->
        </div>
        <div class="table-responsive" style="width: 100%;">
            <div id="mytable3" style="width: 100%;">
            <table class="table table-bordered table-hover table-striped"  sourcing-table style="width: 100%;">
                <thead class="bg-success">
                    <tr>
                        <!--<th class="col-xs-2">选择</th>-->
                        <th class="col-xs-2" style="width: 17%">策略类名</th>
                        <th class="col-xs-2" style="width: 14%">代码文件名</th>
                        <th class="col-xs-1" style="width: 10%">作者</th>
                        <th class="col-xs-3">策略操作</th>
                    </tr>
                </thead>
            </table>
            </div>
            <div id="container3" style="width: 100%; overflow-y: scroll; height: 400px;">
                <table style="width: 100%;">
                <tbody>
                    <tr ng-repeat='d in mySourcingStrategy '>
                        <td class="hidden-id"  style="display: none" ng-bind='d._id'></td>
                        <!--<td><input type="checkbox"></td>-->
                        <!--<td><a href="#/complie/{{d._id}}" ng-bind="d.class_name"></a></td>-->
                        <td ng-bind="d.class_name"></td>
                        <td ng-bind="d.code_name"></td>
                        <td ng-bind="d.author"></td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-info firm-add" ng-click="addfirm(this)">创建实盘模拟策略 <i class="fa fa-plus"></i></button>
                                <button class="btn btn-success his-add" ng-click="addhis(this)">创建历史回测策略 <i class="fa fa-plus"></i></button>
                                <button class="btn btn-danger sour-del" ng-click="delsour(this)">删除策略 <i class="fa fa-remove"></i></button>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
            </div>
        </div>    
    </div>
     <div class="zijin-table-body container firm-strategy">
        <div class="zijin-table-title" style="margin-bottom: 5px">
            <span style="color:#46b8da"><i class="glyphicon glyphicon-th btn-sm" style="margin-bottom: 4px"></i>实盘模拟</span>
             <!--<i class="zijin-table-add" ng-click='openMask()' data-toggle="tooltip"  data-placement="right" title="增加策略" tooltip></i>-->
            <!--<button  class="btn btn-danger allde2" ng-click="alldel2()">删除选择<i class="fa fa-remove"></i></button>-->
            <!--<input  type="checkbox" ng-model="all2" style="margin-left: 40px;width: 20px;height:20px;vertical-align:middle;margin-right: 5px" ng-click="selectall2()"><span>全选</span>-->
            <!--<button  class="btn btn-danger allde2" ng-click="delsel2()" style="margin-left: 40px;margin-top: 2px">删除选择</button>-->
        </div>
        <div class="table-responsive" style="width: 100%;">
            <div id="mytable1" style="width: 100%;">
            <table class="table table-bordered table-hover table-striped" strategy-table style="width: 100%;">
                <thead class="bg-success">
                    <tr>
                        <!--<th class="col-xs-2">选择</th>-->
                        <th class="col-xs-3" style="width: 18%">实盘名</th>
                        <th class="col-xs-2" style="width: 20%">策略代码</th>
                        <th class="col-xs-1" style="width: 12%">合约代码</th>
                        <th class="col-xs-1" style="width: 8%">作者</th>
                        <th class="col-xs-1" style="width: 6%">状态</th>
                        <th class="col-xs-3">策略操作</th>
                    </tr>
                </thead>
            </table>
            </div>
            <div id="container1" style="width: 100%; overflow-y: scroll; height: 400px;">
                <table style="width: 100%;">
                <tbody>
                    <tr ng-repeat='d in myStrategy  | filter:func'>
                        <td class="hidden-id" style="display: none;" ng-bind='d._id'></td>
                        <!--<td><input type="checkbox" style="width: 20px;height:20px;" ng-click="updateSelection2(this)" ng-checked="all2"><a hidden>{{d.flag}}</a></td>-->
                        <td ng-bind="d.name"></td>
                        <td ng-bind="d.class_name"></td>
                        <td ng-bind="d.symbol"></td>
                        <td ng-bind="d.author"></td>
                        <td ng-bind="d.status" title="{{d.title}}"></td>
                        <td>
                            <div class="btn-group btn-group-sm">
                               <!--  <button  class="btn btn-info strategy-ini">初始化 <i class="icon-circle-blank"></i></button> -->
                                <button  class="btn btn-success strategy-start" ng-click="startstrategy(this)">启动 <i class="fa fa-play"></i></button>
                                <button class="btn btn-warning strategy-pause" ng-click="strategypause(this)">停止 <i class="fa fa-pause"></i></button>
                                <button  class="btn btn-danger strategy-del" ng-click="delstrategy(this)">删除策略 <i class="fa fa-remove"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>    
    </div>
    <div class="zijin-table-body container his-strategy">
        <div class="zijin-table-title" style="margin-bottom: 5px">
            <span style="color: #5cb85c;"><i class="glyphicon glyphicon-dashboard btn-sm" style="margin-bottom: 4px;font-size: 18px"></i>历史回测</span>
            <!-- <i class="zijin-table-add" ng-click='openMask()' data-toggle="tooltip"  data-placement="right" title="增加策略" tooltip></i> -->
            <input  type="checkbox" ng-model="all3" style="margin-left: 40px;width: 20px;height:20px;vertical-align:middle;margin-right: 5px"ng-click="selectall3()"><span style="color: #5cb85c;">全选</span>
            <button  class="btn btn-success" ng-click="delsel3()" style="margin-left: 40px;margin-top: 2px;">删除选择</button>
        </div>
        <div class="table-responsive" style="width: 100%;">
            <div id="mytable" style="width: 100%">
            <table class="table table-bordered table-hover table-striped" his-table style="width: 100%;">
                <thead class="bg-success">
                    <tr>
                        <th class="col-xs-1" style="width: 5%">选择</th>
                        <th class="col-xs-2" style="width: 18%">回测名</th>
                        <th class="col-xs-2" style="width: 18%">策略代码</th>
                        <th class="col-xs-1" style="width: 4%">mode</th>
                        <th class="col-xs-1" style="width: 10%">开始时间</th>
                        <th class="col-xs-1" style="width: 12%">结束时间</th>
                        <th class="col-xs-1" style="width: 8%">作者</th>
                        <th class="col-xs-1" style="width: 5%">状态</th>
                        <th class="col-xs-2" style="width: 18%">策略操作</th>
                    </tr>
                </thead>
            </table>
            </div>
            <div id="container" style="width: 100%; overflow-y: scroll; height: 400px;">
                <table style="width: 100%;">
            <tbody>
                    <tr ng-repeat='d in myHisStrategy | filter:func'>
                        <td class="hidden-id" style="display: none;" ng-bind='d._id'></td>
                        <td><input type="checkbox" style="width: 20px;height:20px;" ng-click="updateSelection3(this)" ng-checked="all3"><a hidden>{{d.flag}}</a></td>
                        <td ng-bind="d.name"></td>
                        <td ng-bind="d.class_name"></td>
                        <td ng-bind="d.mode"></td>
                        <td ng-bind="d.start"></td>
                        <td ng-bind="d.end"></td>
                        <td ng-bind="d.author"></td>
                        <td ng-bind="d.status" title="{{d.title}}"></td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-warning strategy-pause" ng-click="pausestrategy(this)">停止 <i class="fa fa-pause"></i></button>
                                <button  class="btn btn-danger strategy-del" ng-click="strategydel(this)">删除策略 <i class="fa fa-remove"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>    
    </div>
    <div class="zijin-table-body container rec-strategy">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">

                <div class="zijin-table-title" style="width: 160px;" slide-toggle>
                    <span><i class="fa fa-trash" ></i>&nbsp;回收站&nbsp;<span class="caret"></span></span>
                </div>

                <div class="table-responsive" style="display: none;">
                    <!--<button  class="btn btn-danger" style="margin-top:0px;background: #222;border-color: #222" ng-click="alldel()">-->
                    <!--清空回收站</button>-->
                    <input  type="checkbox" ng-model="all4" style="margin-left: 25px;width: 20px;height:20px;margin-bottom: 20px;vertical-align:middle;margin-right: 5px"ng-click="selectall4()">
                    <span style="color: #222;font-size: 30px;">全选</span>
                    <button  class="btn btn-danger allde4" ng-click="delsel4()" style="margin-left: 40px;margin-bottom: 20px;background: #222;border-color: #222">删除选择</button>
                    <table class="table table-bordered table-hover table-striped" strategy-table>
                        <thead class="bg-success">
                            <tr>
                                <th class="col-xs-1" style="width: 3%">选择</th>
                                <th class="col-xs-1">策略名字</th>
                                <th class="col-xs-1">策略操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='d in allStrategys '>
                                <td><input type="checkbox" style="width: 20px;height:20px;" ng-click="updateSelection4(this)" ng-checked="all4"><a hidden>{{d.flag}}</a></td>
                                <td class="hidden-id" style="display: none;" ng-bind='d._id'></td>
                                <td ng-bind="d.name"></td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button  class="btn btn-danger strategy-del" ng-click="delhuishou(this)">删除策略 <i class="fa fa-remove"></i></button>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
    </div>

</div>

<!-- sourcing-mask -->
<div class="zijin-table-mask sourcing-mask">
    <div class="mask-box container">
        <div class="row">
            <div class=" col-sm-8 col-sm-offset-2">
                <form ng-submit="addSourcingStrategy()" name="newSourcingStrategy" novalidate="" enctype="multipart/form-data" id="newSourcingStrategy">
                    <div class="form-group" style="position: relative">
                       <span> <a href="Demo.py" target="_blank">首次编写策略请点击下载模版代码</a>&nbsp;&nbsp;&nbsp;
                           <a href="instructions.txt" download="instructions.txt" target="_blank"  id="downtxt">策略编写QuickStart</a>

                       </span>
                        <div id="title" style="display: none;width:85%;height: 600px;padding: 10px;border-radius:10px;position: absolute;left: 51%;top: -70%;border: 1px solid #aaa;background-color: #fff;overflow:scroll"><pre>{{titleQuick}}</pre></div>
                        <input style="margin-top: 20px;" type="text" class="form-control" ng-model='itemSourcing.class_name ' placeholder="输入策略类名（策略类名必须与代码类名一致）" required>
                    </div>
                    <div class="btn-group btn-group-lg">
                        <input class="btn-success btn" type="submit"  value="提交" style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;">
                        <input class="btn-warning btn" style="margin-left: 20px;border-bottom-left-radius: 5px;border-top-left-radius: 5px" ng-click="closeMask()" value="关闭" type="button">
                    </div>
                </form>
            </div>  
        </div>  
    </div>
</div>


<!-- firm mask -->
<div class="zijin-table-mask firm-mask">
    <div class="mask-box container">
        <div class="row">
            <div class=" col-sm-8 col-sm-offset-2">
                <form ng-submit="addFirmStrategy()" name="newFirmStrategy" novalidate="" enctype="multipart/form-data" id="newFirmStrategy" novalidate>
                    <div class="form-group">
                        <label for="">实盘名：</label>
                        <input type="text" class="form-control" name="name" ng-model='firmItem.name' placeholder="请输入实盘名" required>
                        <div class="error" ng-messages='newFirmStrategy.name.$error' ng-if='newFirmStrategy.name.$touched' ng-message-multiple>
                            <small ng-message='required'style="color:red">实盘名不能为空</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">交易所代码：</label>
                        <select ng-model='firmItem.exchange'  ng-options='x.exchange as x.exchange for x in ex' ng-change="getsymbol()"></select>
                    </div>
                    <div class="form-group">
                        <label for="">交易合约：</label>
                        <select ng-model='firmItem.symbol'   ng-options='y.symbol as y.symbol for y in sy'></select>
                    </div>
                    <div class="form-group">
                        <label for="">交易手数：</label>
                        <input type="text" class="form-control" name="multiple" ng-model='firmItem.multiple' placeholder="策略交易手数的倍数" required>
                        <div class="error" ng-messages='newFirmStrategy.multiple.$error' ng-if='newFirmStrategy.multiple.$touched' ng-message-multiple>
                            <small ng-message='required'style="color:red">请填写交易手数</small>
                        </div>

                    </div>
                    <div>
                        <select name="" id="" ng-model="account" ng-options="id as id._id for id in ids"></select><br>
                        <label>您选择的账号id是：{{account.uid}}</label><br>
                        <label>您选择的交易所代码是：{{account.exchange}}</label>
                    </div>
                    <div class="form-group">
                        <label>代码依赖文件：</label><input type="file" name="firmFile" file-model='files' placeholder="代码依赖文件">
                    </div>
                    <div class="btn-group btn-group-lg">
                        <input style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;" class="btn-success btn" type="submit" value="提交" ng-disabled='newFirmStrategy.$invalid'>
                        <input style="margin-left: 20px;border-bottom-left-radius: 5px;border-top-left-radius: 5px" class="btn-warning btn" ng-click="closeMask()" value="关闭" type="button">
                    </div> 
                </form>
            </div>  
        </div>  
    </div>
</div> 


<!-- his mask -->
<div class="zijin-table-mask his-mask">
    <div class="mask-box container">
        <div class="row">
            <div class=" col-sm-8 col-sm-offset-2">
                <form ng-submit="addHisStrategy()" name="newHisStrategy" novalidate="" enctype="multipart/form-data" id="newHisStrategy">

                    <div class="form-group">
                        <label for="">回测名：</label>
                        <input type="text" class="form-control" name="name" ng-model='hisItem.name' placeholder="请输入回测名" required>
                        <div class="error" ng-messages='newHisStrategy.name.$error' ng-if='newHisStrategy.name.$touched' ng-message-multiple>
                            <small ng-message='required'style="color:red">回测名不能为空</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">交易所代码：</label>
                        <select ng-model='firmItem.exchange' ng-options='x.exchange as x.exchange for x in ex' ng-change="getsymbol()"></select>
                    </div>
                    <div class="form-group">
                        <label for="">交易合约：</label>
                        <select ng-model='firmItem.symbol' ng-options='y.symbol as y.symbol for y in sy' ng-change="gettime()"></select>
                    </div>


                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" ng-model='firmItem.symbol' placeholder="交易合约" required>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" ng-model='firmItem.exchange' placeholder="策略交易所代码" required>-->
                    <!--</div>-->

                   <div class='form-group'>
                        <div class="checkbox">
                            <label for="barLable">
                                <input type="checkbox"
                                        name="modeOptions1"
                                        ng-model='modeBarOptions'
                                        id="barLable" ng-change='getBarList()' checked="true">
                                bar
                            </label>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="tickLable">
                                <input type="checkbox"
                                        name="modeOptions2"
                                        ng-model='modeTickOptions'
                                        id="tickLable" ng-change='getTickList()'>
                                tick
                            </label>
                        </div>    
                   </div>
                   <div class="form-group">
                        <label for="">开始时间：</label>
                        <select ng-model='hisItem.start' ng-options='x for x in hisItem.time' ng-change="checktime1()"></select>
                   </div>
                   <div class="form-group">
                        <label for="">结束时间：</label>
                        <select ng-model='hisItem.end' ng-options='x for x in hisItem.time'ng-change="checktime()"></select>
                   </div>
                    <div class="form-group">
                        <label>代码依赖文件：</label><input type="file" name="hisFile" file-model='files' placeholder="代码依赖文件">
                    </div>
                    <div class="btn-group btn-group-lg">
                        <input style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;" class="btn-success btn" type="submit" value="提交" ng-disabled='newHisStrategy.$invalid'>
                        <input style="margin-left: 20px;border-bottom-left-radius: 5px;border-top-left-radius: 5px" class="btn-warning btn" ng-click="closeMask()" value="关闭" type="button">
                    </div> 
                </form>
            </div>  
        </div>  
    </div>
</div>
</div>