<div class="zijin-table">
    <nav class="guide">
        <ul>
            <li class="active" data-target="#code"  role="tab" data-toggle="tab">策略代码</li>
            <li data-target="#change"  role="tab" data-toggle="tab">真实交易</li>
            <li data-target="#moni"  role="tab" data-toggle="tab">实盘模拟</li>
            <li data-target="#yester"  role="tab" data-toggle="tab">回测</li>
            <li data-target="#historyDeals" role="tab" data-toggle="tab">历史交易</li>
            <li data-target="#rec"  role="tab" data-toggle="tab">回收站</li>
        </ul>
        <!--<button>增加策略</button>-->
    </nav>
    <div class="trading">
        <div class="tab-content" id="tab-content">
            <div role="tabpanel" id="code" class="tab-pane active zijin-table-body sourcing-strategy">
                <div class="tip">
                    <ul>共<code ng-bind="allS"></code>条策略
                        <a class="btn btn-success btn-sm" ng-click='openMaskSourcing()' data-toggle="tooltip">增加策略</a></ul>
                </div>
                <div class="zijin-table-title">
                    <!--<span>
                      <i class="glyphicon glyphicon-edit btn-sm" style="margin-bottom: 4px"></i>策略代码
                    </span>-->
                    <!--<i style="margin-bottom: 4px" class="zijin-table-add" ng-click='openMaskSourcing()' data-toggle="tooltip"
                       data-placement="right" title="增加策略" tooltip></i>-->
                </div>
                <div class="table-responsive1">
                    <table class="table table-bordered table-hover table-striped table-responsive" sourcing-table>
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>策略类名</th>
                            <th>代码文件名</th>
                            <th>作者</th>
                            <th>状态</th>
                            <th>策略操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat='d in mySourcingStrategy '>
                            <td class="hidden-id" style="display: none" ng-bind='d._id'></td>
                            <td>{{$index+1}}</td>
                            <!--<td><a href="#/complie/{{d._id}}" ng-bind="d.class_name"></a></td>-->
                            <td ng-bind="d.class_name"></td>
                            <!--<td><a id="downpy" style="text-decoration:none" ng-bind="d.code_name" title="点击下载代码" href=""-->
                            <!--ng-click="downpy(d._id)" target="_blank"></a></td>-->
                            <td>
                                <a ng-bind="d.code_name" title="点击编写代码" href="#/codeview/{{d._id}}"
                                   ng-click="downpy(d._id,d.code_name)"></a>
                            </td>
                            <td ng-bind="d.author"></td>
                            <td ng-bind="d.status" title="{{d.title}}" class={{d.color}}></td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button class="btn btn-success his-add" ng-click="addhis(this)">回测 <i
                                            class="fa fa-plus"></i></button>
                                    <button class="btn btn-info firm-add" ng-click="addfirm(this)">实盘模拟<i
                                            class="fa fa-plus"></i></button>
                                    <button ng-if='user.is_admin==true' class="btn btn-warning strategy-pause"
                                            ng-click="addtrue(this)">真实交易<i class="fa fa-plus"></i></button>
                                    <button class="btn btn-danger sour-del" ng-click="delsour(this)">删除策略 <i
                                            class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" id="change" class="tab-pane zijin-table-body firm-strategy" ng-show='user.is_admin==true'>
                <div class="tip">
                    <ul>
                        <li>加载中：<code ng-bind="loading"></code></li>
                        <li class="li">加载完成：<code ng-bind="loaded"></code></li>
                        <li class="li">运行中：<code ng-bind="start"></code></li>
                        <li class="li">停止运行<code ng-bind="stop"></code></li>
                        <li class="li">运行结束<code ng-bind="over"></code></li>
                        <li class="li">错误：<code ng-bind="error"></code></li>
                    </ul>
                </div>
                <div class="zijin-table-title">
                    <!-- <span style="color:#f0ad4e"><i class="glyphicon glyphicon-ok btn-sm" style="margin-bottom: 4px;"></i>真实交易</span>-->
                </div>
                <div class="table-responsive1">
                    <table class="table table-bordered table-hover table-striped" strategy-table>
                        <thead>
                        <tr>
                            <!--<th class="col-xs-2">选择</th>-->
                            <th>序号</th>
                            <th>交易名</th>
                            <th>策略代码</th>
                            <th>合约代码</th>
                            <th>作者</th>
                            <th>状态</th>
                            <th>实例运行操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat='d in trueStrategy  | filter:func'>
                            <td class="hidden-id" style="display: none;" ng-bind='d._id'></td>
                            <!--<td><input type="checkbox" style="width: 20px;height:20px;" ng-click="updateSelection2(this)" ng-checked="all2"><a hidden>{{d.flag}}</a></td>-->
                            <td>{{$index+1}}</td>
                            <td ng-bind="d.name"></td>
                            <td ng-bind="d.class_name"></td>
                            <td ng-bind="d.symbol"></td>
                            <td ng-bind="d.author"></td>
                            <td ng-bind="d.status" title="{{d.title}}" class={{d.color}}></td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <!--  <button  class="btn btn-info strategy-ini">初始化 <i class="icon-circle-blank"></i></button> -->
                                    <button class="btn btn-success strategy-start" ng-click="starttrue(this)">启动 <i
                                            class="fa fa-play"></i>
                                    </button>
                                    <button class="btn btn-warning strategy-pause" ng-click="truepause(this)">停止 <i
                                            class="fa fa-pause"></i>
                                    </button>
                                    <button class="btn btn-default" style="color: #fff; background-color: #f4e228;
    border-color: #f4e228;">移至历史交易</button>
                                    <button class="btn btn-danger strategy-del" ng-click="deltrue(this)">丢至回收站<i
                                            class="fa fa-remove"></i>
                                    </button>
                                    <button class="btn btn-info" ng-click="log1(this)">运行日志输出</button>
                                    <button class="btn btn-primary" ng-click="log1Load(this)">导出运行日志</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" id="moni" class="tab-pane zijin-table-body firm-strategy">
                <div class="tip">
                    <ul>
                        <li>加载中：<code ng-bind="loading1"></code></li>
                        <li class="li">加载完成：<code ng-bind="loaded1"></code></li>
                        <li class="li">运行中：<code ng-bind="start1"></code></li>
                        <li class="li">停止运行<code ng-bind="stop1"></code></li>
                        <li class="li">运行结束<code ng-bind="over1"></code></li>
                        <li class="li">错误：<code ng-bind="error1"></code></li>
                    </ul>
                </div>
                <div class="zijin-table-title">
                    <!--   <span style="color:#46b8da"><i class="glyphicon glyphicon-th-large btn-sm"
                                                      style="margin-bottom: 4px"></i>实盘模拟</span>-->
                </div>
                <div class="table-responsive1">
                    <div id="mytable1">
                        <table class="table table-bordered table-hover table-striped" strategy-table>
                            <thead>
                            <tr>
                                <!--<th class="col-xs-2">选择</th>-->
                                <th>序号</th>
                                <th>实盘名</th>
                                <th>策略代码</th>
                                <th>合约代码</th>
                                <th>作者</th>
                                <th>状态</th>
                                <th>实例运行操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat='d in myStrategy  | filter:func'>
                                <td class="hidden-id" style="display: none;" ng-bind='d._id'></td>
                                <td>{{$index+1}}</td>
                                <!--<td><input type="checkbox" style="width: 20px;height:20px;" ng-click="updateSelection2(this)" ng-checked="all2"><a hidden>{{d.flag}}</a></td>-->
                                <td ng-bind="d.name"></td>
                                <td ng-bind="d.class_name"></td>
                                <td ng-bind="d.symbol"></td>
                                <td ng-bind="d.author"></td>
                                <td ng-bind="d.status" title="{{d.title}}" class={{d.color}}></td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <!--  <button  class="btn btn-info strategy-ini">初始化 <i class="icon-circle-blank"></i></button> -->
                                        <button class="btn btn-success strategy-start" ng-click="startstrategy(this)">启动 <i
                                                class="fa fa-play"></i></button>
                                        <button class="btn btn-warning strategy-pause" ng-click="strategypause(this)">停止 <i
                                                class="fa fa-pause"></i></button>
                                        <button class="btn btn-default" style="color: #fff; background-color: #f4e228;
    border-color: #f4e228;">移至历史交易</button>
                                        <button class="btn btn-danger strategy-del" ng-click="delstrategy(this)">丢至回收站<i
                                                class="fa fa-remove"></i>
                                        </button>
                                        <button class="btn btn-info" ng-click="log2(this)">运行日志输出</button>
                                        <button class="btn btn-primary" ng-click="log2Load(this)">导出运行日志</button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" id="yester" class="tab-pane zijin-table-body his-strategy">
                <div class="tip">
                    <ul>
                        <li>加载中：<code ng-bind="loading2"></code></li>
                        <li class="li">加载完成：<code ng-bind="loaded2"></code></li>
                        <li class="li">开始运行：<code ng-bind="start2"></code></li>
                        <li class="li">停止运行<code ng-bind="stop2"></code></li>
                        <li class="li">运行结束<code ng-bind="over2"></code></li>
                        <li class="li">错误：<code ng-bind="error2"></code></li>
                        <li class="operation">
                            <input type="checkbox" ng-model="all3" ng-click="selectall3()">全选
                            <a class="btn btn-danger btn-sm" ng-click="delsel3()">删除选择</a>

                        </li>
                    </ul>
                </div>
                <div class="zijin-table-title">
                    <!-- <span style="color: #5cb85c;"><i class="glyphicon glyphicon-time btn-sm"
                                                      style="margin-bottom: 4px;font-size: 18px"></i>历史回测</span>-->
                    <!-- <i class="zijin-table-add" ng-click='openMask()' data-toggle="tooltip"  data-placement="right" title="增加策略" tooltip></i> -->
                    <!--<input type="checkbox" ng-model="all3"   style="margin-left: 40px;width: 20px;height:20px;vertical-align:middle;margin-right: 5px"
                           ng-click="selectall3()"><span style="color: #5cb85c;">全选</span>
                    <button class="btn btn-success" ng-click="delsel3()" style="margin-left: 40px;margin-top: 2px;">删除选择</button>-->
                </div>
                <div class="table-responsive1">
                    <div id="mytable">
                        <table class="table table-bordered table-hover table-striped" his-table>
                            <thead>
                            <tr>
                                <th>选择</th>
                                <th>回测名</th>
                                <th>策略代码</th>
                                <th>mode</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>作者</th>
                                <th>状态</th>
                                <th>实例运行操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat='d in myHisStrategy | filter:func'>
                                <td class="hidden-id" style="display: none;" ng-bind='d._id'></td>
                                <td style="width: 4%">
                                    <input type="checkbox" style="width:80%;height:15px;" ng-click="updateSelection3(this)"
                                           ng-checked="all3"><a hidden>{{d.flag}}</a>
                                </td>
                                <td ng-bind="d.name"></td>
                                <td ng-bind="d.class_name"></td>
                                <td ng-bind="d.mode"></td>
                                <td ng-bind="d.start"></td>
                                <td ng-bind="d.end"></td>
                                <td ng-bind="d.author"></td>
                                <td ng-bind="d.status" title="{{d.title}}" class={{d.color}}></td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-success strategy-start" ng-click="strategystart(this)">启动 <i
                                                class="fa fa-play"></i></button>
                                        <button class="btn btn-warning strategy-pause" ng-click="pausestrategy(this)">停止 <i
                                                class="fa fa-pause"></i></button>

                                        <button class="btn btn-danger strategy-del" ng-click="strategydel(this)">丢至回收站 <i
                                                class="fa fa-remove"></i>
                                        </button>
                                        <button class="btn btn-info" ng-click="log3(this)">运行日志输出</button>
                                        <button class="btn btn-primary" ng-click="log3Load(this)">导出运行日志</button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" id="historyDeals" class="tab-pane zijin-table-body">
                <div class="tip">
                    <ul>
                        <li>实盘模拟：<code ng-bind="offer"></code></li>
                        <li class="li">真实交易<code ng-bind="trust"></code></li>
                    </ul>
                </div>
                <div class="zijin-table-title">
                </div>
                <div class="table-responsive1" style="width: 80%">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>真实交易名</th>
                            <th>策略代码</th>
                            <th>合约代码</th>
                            <th>作者</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in histroyTrue">
                            <td>{{$index+1}}</td>
                            <td ng-bind="x.name"></td>
                            <td ng-bind="x.class_name"></td>
                            <td ng-bind="x.symbol"></td>
                            <td ng-bind="x.author"></td>
                            <td ng-bind="x.status"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover table-striped" style="">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>实盘模拟名</th>
                            <th>策略代码</th>
                            <th>合约代码</th>
                            <th>作者</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in histroySim">
                            <td>{{$index+1}}</td>
                            <td ng-bind="x.name"></td>
                            <td ng-bind="x.class_name"></td>
                            <td ng-bind="x.symbol"></td>
                            <td ng-bind="x.author"></td>
                            <td ng-bind="x.status"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div role="tabpanel"  id="rec" class="tab-pane zijin-table-body rec-strategy">
                <div class="tip">
                    <ul>
                        <li>回测：<code ng-bind="histroy"></code></li>
                        <li class="li">实盘模拟：<code ng-bind="offer"></code></li>
                        <li class="li">真实交易：<code ng-bind="trust"></code></li>
                        <li class="operation">
                            <input type="checkbox" ng-model="all4" ng-click="selectall4()">全选
                            <button class="btn btn-danger allde4 btn-sm" ng-click="delsel4()">删除选择</button>
                        </li>
                    </ul>
                </div>
                <div class="zijin-table-title"></div>
                <div class="table-responsive1" style="width: 70%">
                    <!--<button  class="btn btn-danger" style="margin-top:0px;background: #222;border-color: #222" ng-click="alldel()">-->
                    <!--清空回收站</button>-->
                    <table class="table table-bordered table-hover table-striped" strategy-table>
                        <thead>
                        <tr>
                            <th>选择</th>
                            <th>测试用例</th>
                            <th>类型</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat='d in allStrategys ' class={{d.color}}>
                            <td style="width: 6%"><input type="checkbox" style="width: 80%;height: 15px"
                                                         ng-click="updateSelection4(this)"
                                                         ng-checked="all4"><a hidden>{{d.flag}}</a></td>
                            <td class="hidden-id" style="display: none;" ng-bind='d._id'></td>
                            <td ng-bind="d.name"></td>
                            <td ng-bind="d.type"></td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button class="btn btn-danger strategy-del" ng-click="delhuishou(this)">删除<i
                                            class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>

    <!-- sourcing-mask -->
    <div class="zijin-table-mask sourcing-mask">
        <div class="mask-box container">
            <div class="row">
                <div class=" col-sm-8">
                    <form ng-submit="addSourcingStrategy()" name="newSourcingStrategy" novalidate=""
                          enctype="multipart/form-data"
                          id="newSourcingStrategy">
                        <div class="form-group" style="position: relative">
                       <span> <a href="Demo.py" target="_blank">首次编写策略请点击下载模版代码</a>&nbsp;&nbsp;&nbsp;
                           <a href="instructions.txt" download="instructions.txt" target="_blank" id="downtxt">策略编写QuickStart</a>
                       </span>
                            <div id="title"
                                 style="display: none;height:400px;width:500px;padding: 10px;border-radius:10px;position: absolute;left: 50%;top: -55%;border: 1px solid #aaa;background-color: #fff;">
                                <pre style="height:380px;overflow:scroll">{{titleQuick}}</pre>
                            </div>
                            <input style="margin-top: 20px;" type="text" class="form-control"
                                   ng-model='itemSourcing.class_name '
                                   placeholder="输入策略类名（策略类名必须与代码类名一致）" required>
                        </div>
                        <div class="form-group">
                            <label>上传策略代码：</label><input type="file" name="file" file-model='sourcingCode'
                                                         placeholder="代码"
                                                         required="">
                        </div>
                        <div class=" btn-group-lg">
                            <input class="btn-success btn" type="submit" value="提交">
                            <input class="btn-warning btn btn-right" ng-click="closeMask()" value="关闭" type="button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="zijin-table-mask logs-mask">
        <div class="container-fluid">
            <div class="row">
                <div id="logs" class="logs col-sm-8 col-sm-offset-2 col-md-4 ">
                    <a style="float: right" ng-click="colselog()"><i class="fa fa-remove" style="color:#fff"></i></a>
                    <div id="logname"></div>
                    <div class="loadEffect" style="margin-top: 20%">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <!--<div id="abc" ng-show="log">-->
                    <div id="log" ng-show="log"></div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <!-- firm mask -->
    <div class="zijin-table-mask firm-mask">
        <div class="mask-box container">
            <div class="row">
                <div class=" col-sm-8" id="test">
                    <form ng-submit="addFirmStrategy()" name="newFirmStrategy" novalidate=""
                          enctype="multipart/form-data"
                          id="newFirmStrategy" novalidate>
                        <div class="form-group">
                            <label for="">实盘名：</label>&nbsp;&nbsp;&nbsp;
                            <input type="text" class="ipt" name="name" ng-model='firmItem.name' placeholder="请输入实盘名"
                                   required>
                            <div class="error" ng-messages='newFirmStrategy.name.$error'
                                 ng-if='newFirmStrategy.name.$touched'
                                 ng-message-multiple>
                                <small ng-message='required' style="color:red">实盘名不能为空</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">交易所代码：</label>
                            <select class="sel" ng-model='firmItem.exchange'
                                    ng-options='x.exchange as x.exchange for x in ex'
                                    ng-change="getsymbol2()"></select>
                        </div>
                        <div class="form-group">
                            <label for="">交易合约：</label>
                            <!--<select class="sel" ng-model='firmItem.symbol'   ng-options='y.symbol as y.symbol for y in sy'></select>-->
                            <input class="ipt" type="text" class="form-control" name="symbol" placeholder="请输入交易合约"
                                   ng-model='firmItem.symbol' required>
                            <div class="error" ng-messages='newFirmStrategy.symbol.$error'
                                 ng-if='newFirmStrategy.symbol.$touched'
                                 ng-message-multiple>
                                <small ng-message='required' style="color:red">交易合约不能为空</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">交易手数：</label>
                            <input type="text" class="ipt" name="multiple" ng-model='firmItem.multiple'
                                   placeholder="策略交易手数的倍数"
                                   required>
                            <div class="error" ng-messages='newFirmStrategy.multiple.$error'
                                 ng-if='newFirmStrategy.multiple.$touched'
                                 ng-message-multiple>
                                <small ng-message='required' style="color:red">请填写交易手数</small>
                            </div>

                        </div>
                        <div class="form-group">
                            <label>代码依赖文件：</label><input type="file" name="firmFile" file-model='files'
                                                         placeholder="代码依赖文件">
                        </div>
                        <div class=" btn-group-lg">
                            <input class="btn-success btn" type="submit" value="提交"
                                   ng-disabled='newFirmStrategy.$invalid'>
                            <input class="btn-warning btn btn-right" ng-click="closeMask()" value="关闭" type="button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="zijin-table-mask true-mask">
        <div class="mask-box container">
            <div class="row">
                <div class=" col-sm-8" id="test3">
                    <form ng-submit="addTrueStrategy()" name="newTrueStrategy" novalidate=""
                          enctype="multipart/form-data"
                          id="newTrueStrategy2" novalidate>
                        <div class="form-group">
                            <label for="">交易名：</label>&nbsp;&nbsp;&nbsp;
                            <input type="text" class="ipt" name="name" ng-model='trueItem.name' placeholder="请输入交易名"
                                   required>
                            <div class="error" ng-messages='newTrueStrategy.name.$error'
                                 ng-if='newTrueStrategy.name.$touched'
                                 ng-message-multiple>
                                <small ng-message='required' style="color:red">交易名不能为空</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">交易所代码：</label>
                            <select class="sel" ng-model='trueItem.exchange'
                                    ng-options='x.exchange as x.exchange for x in ex2'
                                    ng-change="getsymbol3()"></select>
                        </div>
                        <div class="form-group">
                            <label for="">交易合约：</label>
                            <!--<select class="sel" ng-model='trueItem.symbol'   ng-options='y.symbol as y.symbol for y in sy'></select>-->
                            <input class="ipt" type="text" class="form-control" name="symbol" placeholder="请输入交易合约"
                                   ng-model='trueItem.symbol' required>
                            <div class="error" ng-messages='newTrueStrategy.symbol.$error'
                                 ng-if='newTrueStrategy.symbol.$touched'
                                 ng-message-multiple>
                                <small ng-message='required' style="color:red">交易合约不能为空</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">交易手数：</label>
                            <input type="text" class="ipt" name="multiple" ng-model='trueItem.multiple'
                                   placeholder="策略交易手数的倍数"
                                   required>
                            <div class="error" ng-messages='newTrueStrategy.multiple.$error'
                                 ng-if='newTrueStrategy.multiple.$touched'
                                 ng-message-multiple>
                                <small ng-message='required' style="color:red">请填写交易手数</small>
                            </div>

                        </div>
                        <div class="form-group" ng-if='user.is_admin==true'>
                            <select class="sel" name="" id="" ng-model="trueItem.account"
                                    ng-options="id as id._id for id in ids"></select>
                            <label>账号id：{{trueItem.account.uid}}</label>
                            <label>交易所代码：{{trueItem.account.exchange}}</label>
                        </div>
                        <div class="form-group">
                            <label>代码依赖文件：</label><input type="file" name="trueFile" file-model='trueFile'
                                                         placeholder="代码依赖文件">
                        </div>
                        <div class=" btn-group-lg">
                            <input class="btn-success btn" type="submit" value="提交"
                                   ng-disabled='newTrueStrategy.$invalid'>
                            <input class="btn-warning btn btn-right" ng-click="closeMask()" value="关闭" type="button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- his mask -->
    <div class="zijin-table-mask his-mask">
        <div class="mask-box container">
            <div class="row">
                <div class="col-sm-10 col-md-8 " id="test2">
                    <form ng-submit="addHisStrategy()" name="newHisStrategy" novalidate="" enctype="multipart/form-data"
                          id="newHisStrategy">
                        <div class="form-group">
                            <label for="">回测名：</label>&nbsp;&nbsp;&nbsp;
                            <input type="text" class="form-control" name="name" ng-model='hisItem.name'
                                   placeholder="请输入回测名" required>
                            <div class="error" ng-messages='newHisStrategy.name.$error'
                                 ng-if='newHisStrategy.name.$touched'
                                 ng-message-multiple>
                                <small ng-message='required' style="color:red">回测名不能为空</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">交易所代码：</label>
                            <select class="sel" ng-model='hisItem.exchange'
                                    ng-options='x.exchange as x.exchange for x in ex'
                                    ng-change="getsymbol()"></select>
                        </div>
                        <div class="form-group">
                            <label for="">交易合约：</label>
                            <!--<select class="sel" ng-model='hisItem.symbol' ng-options='y.symbol as y.symbol for y in sy' ng-change="changesymbol()"></select>-->
                            <input class="ipt" type="text" class="form-control" name="symbol" placeholder="请输入交易合约"
                                   ng-change="changesymbol()" ng-model='hisItem.symbol' required>
                            <div class="error" ng-messages='newHisStrategy.symbol.$error'
                                 ng-if='newHisStrategy.symbol.$touched'
                                 ng-message-multiple>
                                <small ng-message='required' style="color:red">交易合约不能为空</small>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class="checkbox">
                                <label for="barLable">
                                    <input type="checkbox"
                                           name="modeOptions1"
                                           ng-model='modeBarOptions'
                                           id="barLable" ng-change='getBarList()' checked="true">
                                    bar
                                </label>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <label for="tickLable">
                                    <input type="checkbox"
                                           name="modeOptions2"
                                           ng-model='modeTickOptions'
                                           id="tickLable" ng-change='getTickList()'>
                                    tick
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">开始时间：</label>
                            <input readonly="readonly" class="sel" onChange="" ng-model="hisItem.start" id="startTime"
                                   class="Wdate"
                                   type="text"
                                   onFocus="WdatePicker({minDate:startMinDate(),maxDate:startMaxDate(),dateFmt:'yyyy-MM-dd',qsEnabled:false,disabledDates:delDate()})"/>

                            <!--</div>-->
                            <!--<div class="form-group">-->
                            <label for="">结束时间：</label>
                            <input readonly="readonly" class="sel" onChange="" ng-model='hisItem.end' id="endTime"
                                   class="Wdate"
                                   type="text"
                                   onFocus="WdatePicker({minDate:endMinDate(),maxDate:endMaxDate(),dateFmt:'yyyy-MM-dd',qsEnabled:false,disabledDates:delDate()})"/>


                        </div>
                        <div class="form-group">
                            <label>代码依赖文件：</label><input type="file" name="hisFile" file-model='files'
                                                         placeholder="代码依赖文件">
                        </div>
                        <div class=" btn-group-lg">
                            <input class="btn-success btn" type="submit" value="提交"
                                   ng-disabled='newHisStrategy.$invalid'>
                            <input class="btn-warning btn btn-right" ng-click="closeMask()" value="关闭" type="button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>