<div class="predict" style="background:rgba(120,194,236,0.5);background-image:url(images/bgimg.png);padding-bottom:40px" id="top" ng-controller="predictController">
    <div class="banner_content_view">
        <div class="banner">
            <div class="banner_container">
                <div class="banner_section">
                    <h1 class="banner_title">智能算法竞赛</h1>
                    <hr class="banner_divider"/>
                    <ul class="banner_details">
                        <li class="banner_detail">
                            <img src="images/AI.png"/>
                            <p class="banner_detailContent">
                                AI预测，推荐，识别的多方面<br/>竞赛考核。
                            </p>
                        </li>
                        <li class="banner_detail">
                            <img src="images/indexScore.png"/>
                            <p class="banner_detailContent">
                                智能算法根据各全面评判指标打分，<br/>展所长，补所短。
                            </p>
                        </li>
                        <li class="banner_detail">
                            <img src="images/Mix.png"/>
                            <p class="banner_detailContent">
                                智能算法模型可与量化交易平台<br/>整合使用。
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="competition_list_wrapper">
        <div class="competition_content">
            <div class="content_box_select">
                <ul class="content_box_way">
                    <li class="active" data-target="#score" data-toggle="tab">按得分排</li>
                    <li data-target="#update" data-toggle="tab">按更新排</li>
                    <li class="select_time_li hidden-xs">预测时间
                        <select class="form-control select_time" ng-options="x for x in tradeTimeList" ng-model="time1" ng-change="changeTime()"></select>
                    </li>
                </ul>
            </div>
            <div class="visible-xs tradeTime_mobile">
                <span class="trade_time_mobile">预测时间</span>
                <select class="form-control trade_time_select" ng-options="x for x in tradeTimeList" ng-model="time1" ng-change="changeTime()"></select>
            </div>
            <div class="content_box_short tab-content" id="tab-content">
                <div class="tab-pane active" role="tabpanel"  id="score" >
                    <ul class="contentS">
                        <li ng-repeat="x in strategys">
                            <div>
                                <div class="name">
                                    <span class="run span_0">{{page*10+$index+1}}</span>
                                    <span class="span_1"></span>
                                    <span class="span_2">算法总得分</span>
                                </div>
                            </div>
                            <div class="indicators">
                                <span class="span_0"></span>
                                <span class="span_1">{{x.name}}</span>
                                <span class="span_2" style="color: #20BEFF">{{x.allScore | number:6}}</span>
                                <span class="span_2">{{x.earnScore | number:6}}</span>
                                <span class="span_2">{{x.rateScore | number:6}}</span>
                            </div>
                            <div style="position: relative" >
                               <!-- <div id="loading-center-absolute">
                                    <div class="object" id="object_one"></div>
                                    <div class="object" id="object_two"></div>
                                    <div class="object" id="object_three"></div>
                                    <div class="object" id="object_four"></div>
                                </div>-->
                                <a data-toggle="collapse" class="more"  data-target="#{{x.script_id}}"  ng-click="showIf(x.script_id,x.id)">详情</a>
                            </div>
                            <div id="{{x.script_id}}" class="panel-collapse collapsing">
                                <div class="panel-body">
                                    <div class="predict_detail_table">
                                        <h5 class="more_detail_table_title">预测输出</h5>
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>datetime</th>
                                                <th ng-repeat="b in predict_format">{{b.name}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="y in predictInput">
                                                <td >{{y.datetime}}</td>
                                                <td ng-repeat="b in predict_format">{{y[b.name]}}</td>
                                            </tr>
                                            <tr ng-repeat="y1 in predictInput1">
                                                <td >{{y1.datetime}}</td>
                                                <td ng-repeat="b in predict_format">{{y1[b.name]}}</td>
                                            </tr>
                                            <tr ng-repeat="y2 in predictInput2">
                                                <td >{{y2.datetime}}</td>
                                                <td ng-repeat="b in predict_format">{{y2[b.name]}}</td>
                                            </tr>
                                            <tr ng-repeat="y3 in predictInput3">
                                                <td >{{y3.datetime}}</td>
                                                <td ng-repeat="b in predict_format">{{y3[b.name]}}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pagination pagination-md" style="float: right;margin:20px 0 0">
                        <li ng-repeat="x in count" ng-class="{active:x.page == page}">
                            <a ng-click="putScreen(x.page)">{{$index+1}}</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" role="tabpanel"  id="update" >
                    <ul class="contentS">
                        <li ng-repeat="x in strategys">
                            <div>
                                <div class="name">
                                    <span class="run span_0">{{$index+1}}</span>
                                    <span class="span_1"></span>
                                    <span class="span_2">算法总得分</span>
                                </div>
                            </div>
                            <div class="indicators">
                                <span class="span_0"></span>
                                <span class="span_1">{{x.name}}</span>
                                <span class="span_2" style="color: #20BEFF">{{x.allScore | number:6}}</span>
                                <span class="span_2">{{x.earnScore | number:6}}</span>
                                <span class="span_2">{{x.rateScore | number:6}}</span>
                                <!--<div class="left">
                                    <span>创建时间:{{x.datetime}}</span>
                                    <span>策略代码:<a href="#/codeview/{{x.class_id}}">{{x.code_name}}</a></span>
                                    <span class="span">作者：{{x.username}}</span>
                                    <span>交易产品：{{x.symbol}}</span>
                                    <span class="span">交易手数：{{x.multiple}}</span>
                                </div>
                                <div class="right">
                                    <p><span>策略总得分：<e>{{x.allScore | number:6}}</e></span><i class={{x.y}}></i></p>
                                    <p><span>收益评分：<e class={{x.yeildColor}}>{{x.earnScore | number:6}}</e></span><i class={{x.y}}></i></p>
                                    <p><span>风险评分：<e class={{x.yeildColor1}}>{{x.rateScore | number:6}} </e></span><i class="{{x.y1}}"></i></p>
                                </div>-->
                            </div>
                            <div style="position: relative" id="accordion">
                                <a data-toggle="collapse" class="more"  data-target="#{{x.id}}" data-parent="#accordion" ng-click="showIf(x.script_id,x.id)">详情</a>
                            </div>
                            <div id="{{x.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="predict_detail_table">
                                        <h5 class="more_detail_table_title">预测输出</h5>
                                        <table class="table table-hover">

                                            <thead>
                                            <tr>
                                                <th>datetime</th>
                                                <th ng-repeat="b in predict_format">{{b.name}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr ng-repeat="y in predictInput">
                                                <td >{{y.datetime.slice(0, 19)}}</td>
                                                <td ng-repeat="z in predict_format">{{y[z.name]}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pagination pagination-md" id="trustPage" style="float: right;margin:20px 0 0">
                        <li ng-repeat="x in count" ng-class="{active:x.page == page}">
                            <a ng-click="putScreen(x.page)">{{$index+1}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>