<div class="runCenter" ng-controller='runCenterController'>
  <div class="container-fluid">
    <div class="row">
      <nav class="guide">
        <ul>
          <li class="active"  data-target="#trust_deal"  role="tab" data-toggle="tab">真实交易</li>
          <li  data-target="#firm_offer"  role="tab" data-toggle="tab">实盘模拟</li>
          <li  data-target="#history_back"  role="tab" data-toggle="tab">回测</li>
          <li  data-target="#history_deal"  role="tab" data-toggle="tab">历史交易</li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="kind">
    <div class="tab-content" id="tab-content">
      <div role="tabpanel" class="tab-pane active" id="trust_deal">
        <div class="container-fluid">
          <div class="row">
            <div class="tip1">
              <div class="tip1_1">
                <div class="ul1">
                  <span>正在运行：<code>{{sRun}}</code></span>
                  <span>停止运行：<code>{{sStop}}</code></span>
                  <!--<span>回收站：<code>{{sHui}}</code></span>-->
                  <span style="margin-left: 20px">交易合约：<select class="common-select" ng-model="key" ng-options="x for x in symbolList" name="country"></select></span>
                  <!--<option value="">请选择</option></select>-->
                </div>
              </div>
              <div style="float: right;margin-right: 60px">
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: red;display: block;float: left;margin: 1rem"></em><span>正在运行</span>
                </div>
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: yellow;display: block;float: left;margin:1rem"></em><span>停止运行</span>
                </div>
                <!--<div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: rgb(199,199,199);display: block;float: left;margin: 1rem"></em><span>回收站</span>
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <ul ng-repeat="x in trust|filter:{symbol:key}" style=" width: 76.6667rem;  margin-left: 0.83333rem;  margin-top: 0.83333rem;">
          <li>
            <div class="{{x.color}}">{{$index+1}}</div>
            <div>
              <a ng-click="jump('AccountTrade',x._id)" style="font-weight: 700;font-size:1.2rem ">{{x.name}}<br/></a>
              <span>策略代码:<a href="#/codeview/{{x.class_id}}">{{x.code_name}}</a></span>
              <span  class="span">作者：{{x.author}}</span>
              <span  class="span">交易合约：{{x.symbol}}</span>
            </div>
            <div>
              <span >年化收益率：
                <e class={{x.yeildColor}}>{{x.yeild}}%</e>
                <i class={{x.y}}></i>
              </span>&nbsp;&nbsp;
              <span>交易胜率：<e class={{x.yeildColor1}}>{{x.average_winrate}}%</e><i class="{{x.y1}}"></i></span>
            </div>
          </li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="firm_offer">
        <div class="container-fluid">
          <div class="row">
            <div class="tip1">
              <div class="tip1_1">
                <div class="ul1">
                  <span>正在运行：<code>{{fRun}}</code></span>
                  <span>停止运行：<code>{{fStop}}</code></span>
                  <!--<span>回收站：<code>{{fHui}}</code></span>-->
                  <span style="margin-left: 20px">交易合约：<select name="" ng-options="x for x in symbolList1" ng-model="key1"></select></span>
                </div>
              </div>
              <div style="float: right;margin-right: 60px">
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: red;display: block;float: left;margin:1rem"></em><span>正在运行</span>
                </div>
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: yellow;display: block;float: left;margin:1rem"></em><span>停止运行</span>
                </div>
               <!-- <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: rgb(199,199,199);display: block;float: left;margin:1rem"></em><span>回收站</span>
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <ul ng-repeat="x in flase |filter:{symbol:key1}" style=" width: 76.6667rem; margin-left: 0.83333rem; margin-top: 0.83333rem;">
          <li>
            <div class="{{x.color}}">{{$index+1}}</div>
            <div>
              <a ng-click="jump('SimRealTimeTrade',x._id)" style="font-weight: 700;font-size:1.2rem ">{{x.name}}<br/></a>
              <span>策略代码:<a href="#/codeview/{{x.class_id}}">{{x.code_name}}</a></span>
              <span class="span">作者：{{x.author}}</span>
              <span class="span">交易合约：{{x.symbol}}</span>
            </div>
            <div>
               <span >年化收益率：
                <e class={{x.yeildColor}}>{{x.yeild}}%</e>
                <i class={{x.y}}></i>
              </span>&nbsp;&nbsp;
              <span>交易胜率：<e class={{x.yeildColor1}}>{{x.average_winrate}}%</e><i class="{{x.y1}}"></i></span>
            </div>
          </li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="history_back">
        <div class="container-fluid">
          <div class="row">
            <div class="tip1">
              <div class="tip1_1">
                <div class="ul1">
                  <span>停止运行：<code>{{hStop}}</code></span>
                  <!--<span>回收站：<code>{{hHui}}</code></span>-->
                  <span style="margin-left: 20px">交易合约：<select name="" id="" ng-options="x for x in histroySymbolList" ng-model="key2"></select></span>
                </div>
              </div>
              <div style="float: right;margin-right: 60px">
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: yellow;display: block;float: left;margin: 1rem"></em><span>停止运行</span>
                </div>
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: rgb(199,199,199);display: block;float: left;margin: 1rem"></em><span>回收站</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul ng-repeat="x in histroy | filter:{symbol:key2}" style=" width: 76.6667rem;
  margin-left: 0.83333rem;
  margin-top: 0.83333rem;">
          <li>
            <div class="{{x.color}}">{{$index+1}}</div>
            <div>
              <a ng-click="jump('BackTest',x._id)" style="font-weight: 700;font-size:1.2rem ">{{x.name}}<Br/></a>
              <span>策略代码:<a href="#/codeview/{{x.class_id}}">{{x.code_name}}</a></span>
              <span class="span">作者：{{x.author}}</span>
              <span class="span">交易合约：{{x.symbol}}</span>
            </div>
            <div>
            </div>
          </li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="history_deal">
        <div class="container-fluid">
          <div class="row">
            <div class="tip1">
              <div class="tip1_1">
                <div class="ul1">
                  <span>真实交易：<code>{{sHui}}</code></span>
                  <span>实盘模拟：<code>{{fHui}}</code></span>

                  <span style="margin-left: 20px">交易合约：<select name="" ng-options="x for x in allSymbolList" ng-model="key4"></select></span>
                </div>
              </div>
              <div style="float: right;margin-right: 60px">
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: #f0ad4e;display: block;float: left;margin: 1rem"></em><span>真实交易</span>
                </div>
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: #5bc0de;display: block;float: left;margin: 1rem"></em><span>实盘模拟</span>
                </div>

              </div>
            </div>
          </div>
        </div>
        <ul ng-repeat="x in histroyTrust |filter:{symbol:key4}" style=" width: 76.6667rem;
  margin-left: 0.83333rem;
  margin-top: 0.83333rem;">
          <li>
            <div class="{{x.color}}">{{$index+1}}</div>
            <div>
              <a ng-click="jump('AccountTrade',x._id)" style="font-weight: 700;font-size:1.2rem ">{{x.name}}<Br/></a>
              <span>策略代码:<a href="#/codeview/{{x.class_id}}">{{x.code_name}}</a></span>
              <span class="span">作者：{{x.author}}</span>
              <span class="span">交易合约：{{x.symbol}}</span>
            </div>
            <div>
              <span >年化收益率：
                <e class={{x.yeildColor}}>{{x.yeild}}%</e>
                <i class={{x.y}}></i>
              </span>&nbsp;&nbsp;
              <span>交易胜率：<e class={{x.yeildColor1}}>{{x.average_winrate}}%</e><i class="{{x.y1}}"></i></span>
            </div>
          </li>
        </ul>
        <ul ng-repeat="x in histroyFlase |filter:{symbol:key4}" style=" width: 76.6667rem; margin-left: 0.83333rem;  margin-top: 0.83333rem;">
          <li>
            <div class="{{x.color}}">{{$index+1}}</div>
            <div>
              <a ng-click="jump('SimRealTimeTrade',x._id)" style="font-weight: 700;font-size:1.2rem ">{{x.name}}<Br/></a>
              <span>策略代码:<a href="#/codeview/{{x.class_id}}">{{x.code_name}}</a></span>
              <span class="span">作者：{{x.author}}</span>
              <span class="span">交易合约：{{x.symbol}}</span>
            </div>
            <div>
              <span >年化收益率：
                <e class={{x.yeildColor}}>{{x.yeild}}%</e>
                <i class={{x.y}}></i>
              </span>&nbsp;&nbsp;
              <span>交易胜率：<e class={{x.yeildColor1}}>{{x.average_winrate}}%</e><i class="{{x.y1}}"></i></span>
            </div>
          </li>
        </ul>
        <!--<ul ng-repeat="x in histroyH |filter:{symbol:key4}" style=" width: 76.6667rem;margin-left: 0.83333rem;margin-top: 0.83333rem;">
          <li>
            <div class="{{x.color}}">{{$index+1}}</div>
            <div>
              <a ng-click="jump('BackTest',x._id)" style="font-weight: 700;font-size:1.2rem ">{{x.name}}<Br/></a>
              <span>策略代码:<a href="#/codeview/{{x.class_id}}">{{x.code_name}}</a></span>
              <span class="span">作者：{{x.author}}</span>
              <span class="span">交易合约：{{x.symbol}}</span>
            </div>
            <div></div>
          </li>
        </ul>-->
      </div>
    </div>
  </div>
</div>