<div class="runCenter" ng-controller='runCenterController'>
  <div class="container-fluid">
    <div class="row">
      <nav class="guide">
        <ul>
          <li class="active" href="code" data-target="#trust_deal"  role="tab" data-toggle="tab">真实交易</li>
          <li  data-target="#firm_offer"  role="tab" data-toggle="tab">实盘模拟</li>
          <li  data-target="#history_back"  role="tab" data-toggle="tab">历史回测</li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="kind">
    <div class="tab-content" id="tab-content">
      <div role="tabpanel" class="tab-pane active" id="trust_deal">
        <div class="container-fluid">
          <div class="row">
            <div class="tip1" style="width:100%;background-color: #fff;padding: 0.1rem 0 0 3rem;font-size: 1.16667rem;  height: 3.2rem;    line-height: 3.2rem;">
              <div class="tip1_1" style="float: left">
                <div class="ul1">
                  <span>正在运行：<code>{{sRun}}</code></span>
                  <span>停止运行：<code>{{sStop}}</code></span>
                  <span>回收站：<code>{{sHui}}</code></span>
                </div>
              </div>
              <div style="float: right;margin-right: 60px">
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: red;display: block;float: left;margin: 1rem"></em><span>正在运行</span>
                </div>
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: yellow;display: block;float: left;margin:1rem"></em><span>停止运行</span>
                </div>
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: rgb(199,199,199);display: block;float: left;margin: 1rem"></em><span>回收站</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul ng-repeat="x in trust" style=" width: 76.6667rem;
  margin-left: 0.83333rem;
  margin-top: 0.83333rem;">
          <li>
            <div class="{{x.color}}">{{$index+1}}</div>
            <div>
              <a ng-click="jump('AccountTrade',x._id)" style="font-weight: 700;font-size:1.2rem ">{{x.name}}<br/></a>
              <span>策略代码:{{x.class_name}}</span>
              <span  class="span">作者：{{x.author}}</span>
              <span  class="span">交易合约：{{x.symbol}}</span>
            </div>
            <div>

              <span >年化收益率：
                <e class={{x.yeildColor}}>{{x.yeild}}%</e>
                <i class={{x.y}}></i>
              </span>&nbsp;&nbsp;

              <span>交易胜率：<e class={{x.yeildColor1}}>{{x.average_winrate}}%</e><i class="{{x.y1}}"></i></span>
            </div>
          </li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="firm_offer">
        <div class="container-fluid">
          <div class="row">
            <div class="tip1" style="width:100%;background-color: #fff;padding: 0.1rem 0 0 3rem;font-size: 1.16667rem;    height: 3.2rem;    line-height: 3.2rem;">
              <div class="tip1_1" style="float: left">
                <div class="ul1">
                  <span>正在运行：<code>{{fRun}}</code></span>
                  <span>停止运行：<code>{{fStop}}</code></span>
                  <span>回收站：<code>{{fHui}}</code></span>
                </div>
              </div>
              <div style="float: right;margin-right: 60px">
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: red;display: block;float: left;margin:1rem"></em><span>正在运行</span>
                </div>
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: yellow;display: block;float: left;margin:1rem"></em><span>停止运行</span>
                </div>
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: rgb(199,199,199);display: block;float: left;margin:1rem"></em><span>回收站</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul ng-repeat="x in flase" style=" width: 76.6667rem;
  margin-left: 0.83333rem;
  margin-top: 0.83333rem;">
          <li>
            <div class="{{x.color}}">{{$index+1}}</div>
            <div>
              <a ng-click="jump('SimRealTimeTrade',x._id)" style="font-weight: 700;font-size:1.2rem ">{{x.name}}<br/></a>
              <span>策略代码:{{x.class_name}}</span>
              <span class="span">作者：{{x.author}}</span>
              <span class="span">交易合约：{{x.symbol}}</span>
            </div>
            <div>
               <span >年化收益率：
                <e class={{x.yeildColor}}>{{x.yeild}}%</e>
                <i class={{x.y}}></i>
              </span>&nbsp;&nbsp;
              <span>交易胜率：<e class={{x.yeildColor1}}>{{x.average_winrate}}%</e><i class="{{x.y1}}"></i></span>
            </div>
          </li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="history_back">
        <div class="container-fluid">
          <div class="row">
            <div class="tip1" style="width:100%;background-color: #fff;padding: 0.1rem 0 0 3rem;font-size: 1.16667rem;    height: 3.2rem;    line-height: 3.2rem;">
              <div class="tip1_1" style="float: left">
                <div class="ul1">

                  <span>停止运行：<code>{{hStop}}</code></span>
                  <span>回收站：<code>{{hHui}}</code></span>
                </div>
              </div>
              <div style="float: right;margin-right: 60px">

                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: yellow;display: block;float: left;margin: 1rem"></em><span>停止运行</span>
                </div>
                <div style="float: left">
                  <em style="width: 30px;height: 15px;background-color: rgb(199,199,199);display: block;float: left;margin: 1rem"></em><span>回收站</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul ng-repeat="x in histroy" style=" width: 76.6667rem;
  margin-left: 0.83333rem;
  margin-top: 0.83333rem;">
          <li>
            <div class="{{x.color}}">{{$index+1}}</div>
            <div>
              <a ng-click="jump('BackTest',x._id)" style="font-weight: 700;font-size:1.2rem ">{{x.name}}<Br/></a>
              <span>策略名称:{{x.class_name}}</span>
              <span class="span">作者：{{x.author}}</span>
              <span class="span">交易合约：{{x.symbol}}</span>
            </div>
            <div>
              <span>年化收益率：</span>
              <span>胜率：</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>