<!--
<div class="zijin-study">
	<div class="zijin-study-head">
        <div class="container">
				 <h3>紫金量化 历史/实盘测试/真实交易</h3>
       	&lt;!&ndash;   p>不管是历史回测，还是实盘交易测试，最终结果的再优化都不可忽视。而优化总结也总能更好的支撑测试的进行。</p>
          <p>我们将历史回测与实盘测试作区分主要是针对交易数据多少，交易信号强弱。同时我们也设计了测试报告自动生成与人工补充相结合。</p>
    <p>真实交易只有授权用户方可访问，目前仅支持 南方稀有贵金属交易所 的真实交易，后面陆续会增加别的产品作为真实交易对象，实盘模拟是真</p>
    <p>实交易的理想交易状态，真实交易策略信号发送方，是用户资金账户，交易所的中间方。</p>&ndash;&gt;
					<p>不管是历史回测，还是实盘模拟，之后的测试总结再优化均不可缺失。平台支持测试报告自动生成与人工补充相结合。</p>
						<p>实盘模拟是真实交易的理想交易状态，真实交易策略信号发送方，是用户资金账户，交易所之间的代理。</p>
						<p>真实交易目前仅授权用户可使用，仅支持南方稀有贵金属交易所，之后陆续会增加别的产品作为真实交易对象。</p>

        </div> 
        <div class="zijin-study-bigmask"></div>
    </div>
	<div class="zijin-study-body">
		<div class="container"> 
			<div class="zijin-study-wrap">
				<div class="zijin-study-item study-item-one">
					<div class="zijin-study-box">
						<i></i>
						<h4>一站式研究</h4>
						<p>与“数据”，“历史回测”，“实盘测试”四大模块组合成一站式模型测试研究平台</p>
						<span class="zijin-study-line study-line1"></span>
					</div>	
				</div>
				<div class="zijin-study-item study-item-two">
					<div class="zijin-study-box">
						<i></i>
						<h4>报告自动生成</h4>
						<p>依据由测试产生的交易数据，自动生成具有重点，易于理解的研究报告。</p>
						<span class="zijin-study-line study-line2"></span>
					</div>	
				</div>
				<div class="zijin-study-item study-item-three">
					<div class="zijin-study-box">
						<i></i>
						<h4>人工辅助研究</h4>
						<p>结合测试结果，也可人为参与到研究报告的撰写与分享。</p>
						<span class="zijin-study-line study-line3"></span>
					</div>	
				</div>
				<div class="zijin-study-item study-item-four">
					<div class="zijin-study-box">
						<i></i>
						<h4>从研究中学习</h4>
						<p>结合每日的研究结果，依赖学习模型，更好的优化模型，为下一步自动优化模型提供了可能。</p>
						<span class="zijin-study-line study-line4"></span>
					</div>	
				</div>
			</div>
		</div>	
		<div class="zijin-study-footer">
			<div class="container">
				<div class="row text-center" ng-if='user.is_admin!=true'>
					<div class="col-md-2 col-xs-1 col-md-offset-3" style="margin-left: 20%">
						<button class="zijin-study-leftbtn" ng-click='hisActtoryRes("/BackTest")'>历史回测</button>
					</div>

					<div class="col-md-2" style="margin-left: 20%">
						<button class="zijin-study-rightbtn" ng-click='hisActtoryRes("/SimRealTimeTrade")'>实盘模拟</button>
					</div>
				</div>
				<div class="row text-center" ng-if='user.is_admin==true'>
					<div class="col-md-3 col-md-offset-3" style="margin-left: 10%">
						<button class="zijin-study-leftbtn" ng-click='hisActtoryRes("/BackTest")'>历史回测</button>
					</div>
					<div class="col-md-2" style="margin-left: 10%">
						<button class="zijin-study-rightbtn" ng-click='hisActtoryRes("/SimRealTimeTrade")'>实盘模拟</button>
					</div>
					<div class="col-md-2" style="margin-left: 10%">
						<button class="zijin-study-middlebtn" ng-click='hisActtoryRes("/AccountTrade")'>真实交易</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>-->

<aside id="nav-sidebar">
	<nav class="nav-main">
		<ul class="list-unstyled">
			<li class="active">
				<a href="/" title="首页">
					<i class="iconYCJ icon-home-ycj"></i> 首页
				</a>
			</li>
			<li>
				<a href="/mystock/index.html" rel="nofollow" title="自选股">
					<i class="iconYCJ icon-mystock-ycj"></i> 我的自选
				</a>
			</li>
			<li>
				<a href="/topnews/main.html" title="独家报道">
					<i class="iconYCJ icon-earth-ycj"></i> 独家报道
				</a>
			</li>
			<li>
				<a href="/insider/main.html" title="消息直播">
					<i class="iconYCJ icon-news-live-ycj"></i> 消息直播
				</a>
			</li>
			<li class="dropdown-submenu ">
				<a href="javascript:;" title="市场热点">
					<i class="iconYCJ icon-hot-ycj"></i> 市场热点
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/markethot/hot_news.html" title="热门消息题材">热门消息题材</a>
					</li>
					<li>
						<a href="/markethot/rised.html" title="涨停题材">涨停题材</a>
					</li>
					<li>
						<a href="/markethot/latest.html" title="最新消息题材">最新消息题材</a>
					</li>
					<li>
						<a href="/markethot/discovery.html" title="龙头挖掘机">龙头挖掘机</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/data/main.html" title="数据中心">
					<i class="iconYCJ icon-data-center-ycj"></i> 数据中心
				</a>
			</li>
			<li>
				<a href="/quotes/ratio.html" title="行情中心">
					<i class="iconYCJ icon-quote-ycj"></i> 行情中心
				</a>
			</li>
			<li class="dropdown-submenu ">
				<a href="javascript:;" title="增值服务">
					<i class="iconYCJ icon-service-ycj"></i> 增值服务
				</a>
				<ul class="dropdown-menu horizontal">
					<div class="part-left">
						<li>
							<a href="/apps/vip.html" title="VIP参考">VIP参考</a>
						</li>
						<li>
							<a href="/apps/hdd/observe.html" title="高级席位数据">高级席位数据</a>
						</li>
						<li>
							<a href="/apps/navigator.html" title="趋势领航者">趋势领航者</a>
						</li>
						<li>
							<a href="/apps/crline.html" title="搓揉优选大师">搓揉优选大师</a>
						</li>
					</div>
					<div class="part-right">
						<li>
							<a href="/apps/monster.html" title="早盘捉妖">早盘捉妖</a>
						</li>
						<li>
							<a href="/apps/gtt.html" title="金色两点半">金色两点半</a>
						</li>
						<li>
							<a href="/quote/sh601668_hmoney.html" title="主力多空">主力多空</a>
						</li>
						<li>
							<a href="/apps/kpgs.html" title="看盘高手">看盘高手</a>
						</li>
					</div>
				</ul>
			</li>
			<li>
				<a href="/mall/main.html" title="购买">
					<i class="iconYCJ icon-buy-ycj"></i> 购买
				</a>
			</li>
		</ul>
	</nav>
	<nav class="nav-footer">
		<ul class="list-unstyled">
			<li>
				<a href="/plans/weixinrobot.html" title="微信直播">
					<i class="iconYCJ icon-wechatlive-ycj"></i> 微信直播
				</a>
			</li>
			<li>
				<a href="/app.html" title="下载APP">
					<i class="iconYCJ icon-appdown-ycj"></i> 下载APP
				</a>
			</li>
			<li>
				<a href="/help/" title="帮助中心">
					<i class="iconYCJ icon-help-ycj"></i> 帮助中心
				</a>
			</li>
			<li>
				<a href="/about.html" title="关于云财经">
					<i class="iconYCJ icon-about-ycj"></i> 关于云财经
				</a>
			</li>
		</ul>
	</nav>
</aside>


